{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
    {{ title_prefix }}
    {{ element.form_token }}
    {{ element.form_build_id }}
    {{ element.form_id }}
    <div class="references-form-inputs">
        <div class="references-form-inputs-column1">
            {{ element.elements.form_title }}
        </div>
        <div class="references-form-inputs-column2">
            <div class="input-container">
                {{ element.elements.username_or_email }}
                {{ element.elements.actions }}
            </div>
        </div>
    </div>
    {{ title_suffix }}
</form>
