.view .job-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  .first-column {
    display: inline-block;
    padding: 19px;
    .job-title {
      font-family: @font-family-sans-serif;
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #f4f4f4;
    }
    .job-company {
      font-family: @font-family-sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #f4f4f4;
    }
    .job-address {
      .job-company();
    }
  }
  .second-column {
    .job-created {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .third-column {
    display: flex;
    align-items: center;
    font-family: @font-family-sans-serif;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f4f4f4;
    text-transform: uppercase;
    .background-mixin();
  }
}
