.rj-switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .rj-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid @orange;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .rj-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: @orange;
    -webkit-transition: .1s;
    transition: .1s;
  }

  input:checked + .rj-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .rj-slider.round {
    border-radius: 12px;
  }

  .rj-slider.round:before {
    border-radius: 50%;
  }
}
