.skills-wrapper {
  margin-bottom: 30px;

  .title-wrapper {
    color: @medium-grey;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 80%;
      display: block;
      float: left;
    }

    .count {
      text-align: right;
      float: right;
      width: 20%;
      display: block;
    }
  }

  .list {
    ul {
      list-style: none;
      padding: 0;

      li {
        color: #fff;
        .gradient-grey;
        margin-bottom: 10px;
        border-radius: 2px;
        padding: 5px;
        font-weight: 500;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.match {
          border-bottom: 2px solid @light-orange;
        }

        .index {
          margin: 0 5px;
        }
      }
    }
    > div {
      min-height: 220px;
    }
  }

  &.certifications {
    a {
      color: #fff;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      span {
        top: 100px;
        margin-left: 10px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
      }

      img {
        margin-bottom: 10px;
      }
    }

    .match {
      a {
        img {
          border-bottom: 5px solid orange;
        }
      }
    }
  }
}
