
.view {
  // Views pager.
  nav {
    .pager__item {
      &.active,
      &:hover {
        a {
          background-color: @light-orange;
        }
      }

      a {
        background-color: @gray-background;
        border: 1px solid @light-orange;
        color: #fff;
      }
    }
  }
}
