<div class="max-width-600">
    <div class="row row-1">
        <div class="col-sm-4 col-xs-12">
            <div class="inner row1-first">
                {{ content.row1_first }}
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="inner row1-second">
                {{ content.row1_second }}
            </div>
        </div>
    </div>
</div>
<div class="row row-2">
    <div class="col-sm-6 col-xs-12">
        {{ content.row2_first }}
    </div>
    <div class="col-sm-6 col-xs-12">
        {{ content.row2_second }}
    </div>
</div>