#page-content {
  padding-top: 0;
  &.loading {
    opacity: .5;
    pointer-events: none;
  }
}

.filter-progress {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 30px;
  margin-left: -15px;
  margin-top: -15px;
  line-height: 30px;
  color: #fff;
  display: block;
  z-index: 9999;
}

body {
  background-color: @gray-background;
}

// Header.
h1.page-title {
  a {
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

#navbar {
  position: static;
  margin-bottom: 45px;
  padding: 30px 0;
  max-width: 100%;
  width: 100%;
  border: none;
  .background-mixin();
  .navbar-content {
    margin-top: 40px;
  }
  #block-mainmenublock {
    display: inline-block;
  }
  &.nav-apply {
    .background-mixin-blue;
    padding-bottom: 0;
  }
  &.nav-profile {
    background: #0c0c0c;
  }
  .logo {
    width: 300px;
    float: left;
    position: relative;
    @media (max-width: @screen-sm-max) {
      width: 240px;
      top: 4px;
    }
    @media (max-width: @screen-xs-max) {
      float: none;
      top: 0;
    }
  }
  .form-control {
    border-color: #fff;
  }
  input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before,
  input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    border-color: #fff;
  }
  .header {
    font-size: 24px;
  }

  .region-navigation {
    text-align: right;
    nav {
      border-radius: 20px;
      padding: 6px 10px;
      ul.menu {
        float: none;
        padding: 0;
        margin: 0;
        > li {
          float: none;
          display: inline-block;
          > a {
            color: #fff;
            padding: 5px 10px;
            line-height: 1;
            text-transform: uppercase;
            &:hover, &:focus {
              background: none;
              color: #fff;
            }
            .glyphicon {
              margin-right: 5px;
            }
          }
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      float: none;
      margin: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      nav {
        width: 100%;
        background-color: #f4f4f4;
        border-radius: 20px 20px 0 0;
        padding: 0;
        text-align: center;
        ul.nav.navbar-nav {
          margin: 0;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          > li {
            > a {
              color: #0e0c0b;
              padding: 10px;
              font-size: 10px;
              display: block;
              .glyphicon {
                font-size: 14px;
                display: block;
                color: @orange;
                margin: 0 0 6px;
              }
              &:hover, &:focus {
                color: #0e0c0b;
              }
            }
            &.dropdown {
              .caret {
                display: none !important;
              }
              &.open {
                .dropdown-menu {
                  position: absolute;
                  top: -115px;
                  background: #f4f4f4;
                  width: 100px;
                  left: -45px;
                  border-radius: 20px !important;
                  text-transform: uppercase;
                  &:after {
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid #f4f4f4;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    margin-left: -10px;
                    content: "";
                  }
                  li a {
                    color: #0e0c0b;
                    font-size: 10px;
                    border-radius: 20px;
                    padding: 5px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .nav-tabs{
    border:0;
    li {
      a {
        border: 0;
        border-radius: 0;
        background: transparent;
        font-family: @font-family-sans-serif;
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        padding: 7px 12px;
        &:hover{
          color: #fff;
          background: transparent;
          border:0;
        }
      }
      &.active {
        font-weight: bold;
        border-bottom: 5px solid @gray-background !important;
      }
    }
    @media (max-width: @screen-sm-max) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin: 0 -15px;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        flex: 0 0 auto;
        float: none;
        a {
          padding: 7px 15px;
        }
      }
    }
  }
  &.has-highlighted {
    padding: 30px 0 0;
  }
  .highlighted {
    width: 100%;
    margin: 30px 0 0;
  }
}

.has-jumbotron {
  #navbar {
    margin-bottom: 0;
  }
}

.main-container {
  .content-wrapper {
    margin-top: 63px;
    .recently-applied-view {
      .view-header {
        .view-header-mixin();
      }
      .job-wrapper {
        margin-bottom: 20px;
        border-radius: 2px;
        box-shadow: 0 9px 10px -5px rgba(8, 7, 7, 0.66);
        .background-wrapper-gray-mixin();
        padding: 15px;
        display: flex;
        @media screen and (max-width: @screen-xs-max){
          display: block;
        }
        align-items: center;
        font-family: @font-family-sans-serif;
        .job-title {
          font-size: 24px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
          @media screen and (max-width: @screen-xs-max){
            font-size: 14px;
          }
        }

        .job-company {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
          @media screen and (max-width: @screen-xs-max){
            font-size: 11px;
          }
        }

        .job-address {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
          @media screen and (max-width: @screen-xs-max){
            font-size: 11px;
          }
        }

        .job-created {
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
          @media screen and (max-width: @screen-xs-max){
            font-size: 11px;
            text-align: right;
          }
        }

        .job-applicants-count {
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
          text-transform: uppercase;
          @media screen and (max-width: @screen-xs-max){
            font-size: 11px;
            text-align: right;
          }
        }
      }
    }
  }
}

h1.page-title {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  strong {
    font-weight: 500;
  }
}

// Drupal modal.
#drupal-modal--body {
  overflow: hidden !important;
}

/*Mobile*/
@media (max-width: @screen-xs-max) {
  #block-mainmenublock {
    width: 100%;
  }
}

/* RJ - Inline entity form */
.ief-cardinality-count {
  font-size: 10px;
  color: white;
}
