.path-frontpage {
  #homepage-search-box {
    margin-bottom: 150px;
  }

  .statement {
    .gradient-black;
    margin-bottom: 50px;
    border-radius: 3px;
    max-width: 1000px;
    margin: 0 auto 50px;
    .row {
      display: flex;
      margin: 0;
      *[class^='col-'] {
        padding: 0;
      }
    }
    .text {
      padding: 60px;
      h2 {
        margin-top: 0;
      }
    }
    .image {
      height: 100%;
    }

    .orange-link-button {
      margin-top: 30px;
      a {
        max-width: 100%;
      }
    }
    @media (max-width: @screen-sm-max) {
      .row {
        display: block;
        .image {
          height: 200px;
        }
      }
      .text {
        padding: 30px;
      }
    }
  }
}
