.page-job-edit {
  .job-wrapper-black-mixin();

  #edit-field-job-description-wrapper,
  .job-wrapper > .row {
    width: 100%;
  }

  #edit-field-reveal-payment-wrapper {
    margin-left: 0;
    padding-left: 0;
  }

  #edit-actions {
    text-align: center;
  }

  .custom-job-edit-block {
    border-top: 1px solid #f4f4f4;
    margin-top: 40px;
  }

  #navbar.nav-job-edit {
    padding-bottom: 0;

    .job-close {
      margin-right: 10px;
    }
  }

  .ajax-throbber {
    display: none;
  }

  /* Job Wrapper */
  @media (max-width: @screen-xs-max) {
    .job-wrapper {
      margin-bottom: 0;
    }
  }

  /* Columns */
  .row > div {
    height: 100%;
    padding: 0;

  @media (max-width: @screen-xs-max) {
    &.first-column {
      padding-bottom: 10px;

    }
    padding: 10px 0;

    &.second-column,
    &.first-column {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .second-column {
    font-weight: bold;
  }

  .third-column {
    text-align: center;
    white-space: nowrap;
    a {
      font-weight: 500;
      color: @orange;
    }
  }
}

/* Pay Slider */
#edit-field-salary-range-0 .panel-body {
  .rj-range-slider-widget {
    margin-top: 15px;
    .ui-slider-range,
    .ui-slider-handle {
      background-color: @light-orange;
    }
  }
}
#edit-field-salary-range-0 .panel-title {
  margin-bottom: 10px;
}

/* Panel Description */
#edit-field-job-description .panel-body {
  border: 1px solid white;
  padding: 10px;

  button {
    font-weight: 600;
    margin: 10px;
    border-radius: 15px;
  }

  #edit-revert {
    .button-orange-border;
  }

  #edit-suggested {
    .button-full-orange;
  }
}

/* Close job modal */
.job-close-modal {
  background-color: @orange;
  color: #fff;
  margin-top: 60%;

  .ajax-throbber {
    display: none;
  }

  .modal-body {
    overflow: hidden !important;
  }
}
