// Header.
#navbar {
  .job-application-list-header {
    position: relative;
    padding-right: 130px;
    .list-breadcrumb {
      font-size: 24px;
      margin-bottom: 30px;
      span.glyphicon {
        font-size: 20px;
      }

      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .header-filter-wrapper {
      margin-bottom: 50px;

      &.no-filter {
        display: none;
      }

      .header-filter {
        border: 1px solid #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 20px 5px 0;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
          background-color: @white-gray;
          color: @orange;
          border-color: @orange;
        }


        &.active-filter {
          background-color: @white-gray;
          color: @orange;
          border-color: @orange;
        }
      }

    }

    .filter-toggle {
      margin-bottom: 20px;
      width: 120px;
      background-color: @white-gray;
      color: @orange;
      border-color: @orange;
      padding: 5px 0;
      border-radius: 20px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
      &.active {
        .glyphicon {
          transform: rotate(180deg);
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    .job-application-list-header {
      padding-right: 0;
      .list-breadcrumb {
        font-size: 18px;
        margin-bottom: 15px;
        width: 100%;
        span.glyphicon {
          font-size: 16px;
        }
      }
      .filter-toggle {
        position: static;
      }
    }
  }
}

// Exposed filters.
.view-job-applicants .views-exposed-form {
  display: none;
}

// Content area filters.
.content-filters {
  .input-group .form-item {
    margin-right: -15px;
  }
  .sort {
    font-weight: 600;
    margin-bottom: 20px;

    span {
      border-color: @orange;
      padding: 2px 20px;
      border-radius: 12.5px;
      border-width: 1px;
      margin-right: 20px;
      &:hover {
        cursor: pointer;
        border-color: @button-orange-border;
      }
    }

    .active-sort {
      .button-full-orange;
    }
  }

  .search-filter {
    background: transparent;
    border: 1px solid @orange;
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    font-weight: normal;
    padding: 4px 10px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  .search-submit {
    .button-full-orange;
    border-radius: 12.5px !important;
    padding: 3px 20px;
    border-width: 1px;
    margin-left: -15px;
    width: 130px !important;
    .glyphicon {
      font-size: 12px;
    }

    &:hover {
      border-width: 1px;
    }
  }
}

.view-empty-card {
  box-shadow: 0 9px 10px -5px rgba(8, 7, 7, 0.66);
  .background-wrapper-black-mixin();
  padding: 45px;
  text-align: center;
  margin-top: 30px;
  p {
    margin: 0;
  }
}

.view-my-jobs-dashboard,
.view-job-applicants {
  .view-empty {
    .view-empty-card;
  }
}

// Applications view.
.view-job-applicants {
  .view-content {
    a {
      color: #FFF;
      height: 165px;
      margin-bottom: 10px;
      padding: 20px;
      .background-wrapper-black-mixin;
      display: flex;
      align-items: center;
      &:hover, &:focus {
        text-decoration: none;
      }
      .first-column {
        width: 50%;
        display: flex;
        align-items: center;
        .applicant-info {
          color: #FFF;
          padding-left: 30px;
          .name,
          .address {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .name {
            text-transform: capitalize;
            font-size: 24px;
            font-weight: 500;
          }
        }
        .avatar {
          img {
            max-width: 125px;
            border-radius: 50%;
          }
        }
      }
      .second-column {
        text-align: center;
        width: 140px;
        font-size: 18px;
      }
      .third-column {
        font-weight: 500;
        flex: 1;
        text-align: right;
        span.profile-button {
          border-radius: 20px;
          background-color: #b7b7b7;
          color: #000;
          font-weight: 500;
          padding: 5px 15px;
          &:hover {
            text-decoration: none;
            background: #fff;
          }
        }
      }
      @media (max-width: @screen-xs-max) {
        .first-column {
          width: 100%;
        }
        .second-column,
        .third-column {
          display: none;
        }
      }
    }
  }
}

@media @mobile {
  #navbar {
    .job-application-list-header {
      .tabs {
        font-size: 11px;
        clear: both;
        div {
          margin-right: 0;
          display: inline-block;
          padding: 0;

          &.favorite {
            margin-left: 0;
          }

          &.favorite,
          &.declined {
            width: 25%;
          }

          a {
            display: inline;
            padding-bottom: 11px;
          }
        }
      }
    }
  }
}
