#job-application-owner {
  .content-top {
    color: @light-grey;
    max-width: 660px;
    margin: 0 auto 50px;
    .name {
      text-transform: capitalize;
    }

    p {
      margin-top: 10px;
    }

    .xs-info {
      margin-top: 20px;
    }

    .name,
    .match {
      font-size: 24px;
      font-weight: 500;
    }

    .xs-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .buttons,
    .xs-buttons,
    .xs-message {
      margin-top: 20px;

      a {
        color: #fff;
        padding: 5px 20px;
        border-radius: 40px;
        font-weight: 600;
        margin-right: 15px;
        display: inline-block;
        margin-bottom: 20px;

        &:hover {
          text-decoration: none;
        }

        &.message {
          background-color: @blue;
        }

        &.favorite {
          background-color: @light-orange;
        }

        &.decline {
          color: #000;
          background-color: @medium-grey;

        }
      }
    }

    img {
      max-width: 100%;
      border-radius: 50%;
    }

    @media (max-width: @screen-sm-max) {
      img {
        width: 100px;
        height: 100px;
      }

      .name {
        font-size: 18px;
      }

      .xs-message {
        margin: 0;

        .message {
          height: 35px;
          border-radius: 50%;
          margin: 0;
          padding: 10px;
          width: 35px;
          display: block;
          line-height: 1px;
        }
      }
    }
  }



  .content-body-right {
    .photos-wrapper {
      .title-wrapper {
        color: @medium-grey;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 2px solid;
        margin-bottom: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;

        .title {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  .content-body-left {
    .resume {
      margin-bottom: 30px;


      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .button-full-orange;
        padding: 5px;
        border-radius: 5px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
