.path-job {
  #navbar {
    padding-bottom: 0;
  }

  #block-jobviewheaderblock {

    .card {
      .card-section.card-cta {
        .card-cta-btn {
          &.card-cta-btn-lightning-apply,
          &.card-cta-btn-default {
            background: #fff;
            height: auto;
            color: @lightning-blue;
            border-radius: 15px;
            opacity: 0.8;
            padding: 3px 0;

            &:hover {
              opacity: 1;
            }
          }

          &.card-cta-btn-grey {
            background: none;
          }
        }
      }
    }
  }

  &.is_company,
  .page-job-edit {
    #block-jobviewheaderblock {
      .card {
        .card-section.card-cta {
          .card-cta-btn {
            color: @orange;
          }
        }
      }
    }
  }
}

// General job card mobile style.
@media (max-width: @screen-xs-max) {
  .card {
    .card-section.card-title {
      flex: 1;
      .card-title-header {
        font-size: 14px;
        font-weight: 600;
      }
      .card-title-subheader {
        font-size: 11px;
      }
    }
    .card-meta {
      display: none;
    }
  }

  .card-cta {

    .card-cta-btn.card-cta-btn-default {
      font-size: 14px;
      width: 100%;
    }


    > div {
      width: 100%;
      height: 100%;
      padding: 30px 20px 20px 20px;
      position: absolute;
      bottom: 0;
      left: 0;

      border-right: 3px solid @lightning-blue;

      &.external-apply {
        border-right-color: #cacaca;
      }

      .card-cta-btn-lightning-apply {
        &:before {
          content: "\e162";
          color: @lightning-blue;
          .glyphicon;
          margin-right: 5px;
        }
      }

      a {
        display: block;
        text-align: right;
      }

      span {
        font-size: 11px;
        position: absolute;
        bottom: 30px;
        right: 20px;
      }
    }
  }
}
