.path-my-jobs.is_company {
  .notifications {
    text-align: right;

    a {
      background: white;
      padding: 8px 34px;
      border-radius: 20px;
      color: @orange;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }
    }
  }

  /* Mobile */
  @media (max-width: @screen-xs-max) {
    #block-myjobsseekerheader {
      .card-header {
        display: block;

        .card-title-header {
          margin-bottom: 10px;
        }

        .card-cta {
          a:first-child {
            margin-left: 0;
          }
        }
      }
    }

    #page-content {
      .main-container {
        > div > section {
          padding: 0;
        }
      }
    }

    .highlighted-footer {
      margin: -20px;
      padding: 0 20px;
    }

    #navbar {
      .nav-tabs  {
        li {
          a {
            padding: 7px 10px;
          }
        }
      }
    }
  }
}
