.path-my-jobs {

  &.is_seeker {
    .highlighted-footer {
      display: none;
    }
  }

  // Hide duplicated tabs.
  .highlighted {
    display: none;
  }

  #page-content #navbar {
    padding-bottom: 0;
  }

  .view-my-jobs-dashboard {
    margin-top: 40px;
  }

  .main-container {
    h4 {
      color: @medium-grey;
    }

    .content-wrapper {
      .seek-job-view.recently-applied-view {
        .job-wrapper {
          .job-card;

          a {
            color: white;
          }
        }
      }

      .promoted-search-view {
        .job-wrapper.search {
          .gradient-black;

          .job-title {
            padding: 15px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }


          &.hidden-sm {
            height: 90px;
            border-right: 3px solid @orange;
            margin-right: 0;

            span {
              font-weight: 200;
            }
          }

          .third-column {
            background-color: @orange;

            a {
              width: 100%;
              height: 100%;
              text-align: center;
              line-height: 9;
              font-weight: 600;
            }
          }
        }
      }

      .recently-viewed-jobs,
      .promoted-search-view {
        margin-bottom: 20px;

        .job-wrapper {
          .job-card;

          &.external {
            .gradient-black;

            .third-column {
              .background-mixin-blue;
              &:before {
                content: "\e162";
                .glyphicon;
                margin-right: 5px;
              }
            }
          }

          &.hidden-xs {
            overflow: auto;
            height: 100%;
            display: flex;

            .job-title {
              font-size: 24px;
            }

            .job-applicants-count {
              font-size: 18px;
            }

            .job-created {
              font-size: 14px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #f4f4f4;
            }

            .second-column {
              display: flex;
              align-items: center;

              div {
                height: 20px;
              }
            }

            .third-column {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          &.hidden-sm {

            &.external {
              border-right: 3px solid #1cb5f8;
            }

            .third-column {
              background: none;

              &:before {
                content: '';
              }
            }

            .second-column {
              a {
                color: #fff;

                &:before {
                  content: "\e162";
                  .glyphicon;
                  margin-right: 5px;
                  color: #1cb5f8;
                }
              }
            }

            .fourth-column {
              .job-created {
                padding-top: 20px;
              }
            }
          }

          .second-column {
            padding-right: 0;

            .job-applicants-count {
              font-size: 11px;
              text-align: right;
            }
          }

          .third-column {
            a {
              color: #fff !important;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .fourth-column {
            .job-created {
              text-align: right;
              font-weight: 300;
              font-size: 11px;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #f4f4f4;
            }
          }
        }
      }

      .watched-jobs {
        label {
          display: none;
        }

        #edit-submit {
          .button-full-orange;
          width: 100%;
        }

        .range-input-sfs {
          z-index: 10;
          span {
            display: inline-block;
            float: left;
            line-height: 30px;
            width: 50%;
          }

          .form-item-field-range {
            width: 50%;
            float: left;
          }

        }
      }

      .saved-searches-view {
        .job-title {
          font-weight: 600;
        }

        .searches-you-watch-wrapper {
          border-top: 2px solid #fff;
          padding: 20px 0;
          height: 80px;
        }

        .job-applicants-delete {
          text-align: right;
          font-size: 25px;
          margin-top: 5px;

          span {
            color: #fff;
          }
        }

        .first-column {
          padding-left: 0;
        }
        .second-column {
          padding-right: 0;
        }

        .job-title,
        .job-company {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .manage-notifications-link {
          text-align: center;

          a {
            .button-orange-border;
              padding: 5px 20px;
              border-radius: 15px;
              text-transform: uppercase;

              &:hover {
                text-decoration: none;
              }
          }
        }
      }
    }
  }

  &.modal-open {
    .dialog-off-canvas-main-canvas {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
  }
  .modal-dialog {
    .modal-content {
      background: #1cb5f8;
      border-radius: 0;
      padding: 20px 70px;
      @media (max-width: @screen-xs-max) {
        padding: 20px;
      }
    }
    .modal-header {
      border: none;
      padding-bottom: 0;
    }
    .close {
      color: #fff;
      font-weight: 300;
      opacity: 1;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .modal-actions {
      margin-top: 30px;
      .btn {
        margin-right: 15px;
        height: 30px;
        padding: 8px 30px;
        line-height: 1;
      }
    }
    .address {
      margin: 0;
      .country {
        display: none; // remove this in future when we have more than the US
      }
    }
    .layout__region--content {
      padding-left: 10px;
      border-left: 1px solid #fff;
      margin-left: 1px;
      font-size: 18px;
      padding-bottom: 0;
      margin: 15px 0 15px 1px;
      @media (max-width: @screen-xs-max) {
        font-size: 14px;
      }
    }
    .field--label-inline {
      .field--label {
        font-weight: 300;
        display: inline-block;
        vertical-align: top;
      }
      .field--item {
        font-weight: 500;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  // Header.
  #edit-location--2::placeholder {
    color:#fff;
  }

  #navbar {
    margin: 0;
  }

  h2 {
    margin-top: 0;
    @media (max-width: @screen-xs-max) {
      font-size: 18px;
    }
  }

  #find-a-job {
    button {
      color: @orange;
      background-color: #fff;
      font-weight: 600;
      width: 100%;
      border: 1px solid #fff;
      &:hover {
        opacity: .8;
      }
    }
    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }
  }

  .form-control:focus {
    border-color: #fff;
  }
}


.job-card {
  .gradient-light-grey;
    margin: 20px 0;

    .first-column {
      padding: 30px;
    }

    &.hidden-sm {
      padding: 10px;
      margin: 10px -15px;

      .second-column {
        padding-top: 5px;
        padding-right: 0;
      }

      .job-created {
        padding-top: 10px;
      }

      .third-column,
      .fourth-column {
        width: 50%;
        display: inline;
        float: left;
        margin-top: 10px;
      }

      .first-column {
        padding: 0;
      }

      .third-column {
        font-size: 11px;
        text-transform: uppercase;
      }

      .job-applicants-count {
        font-weight: 600;
      }
    }

    .first-column {

      .job-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 600;
      }
    }

    .third-column {
      background: none;

      .job-applicants-count {
        font-weight: 600;
      }
    }
}


