.path-notifications {
  .header-notifications {
    font-size: 24px;
    a {
      color: white;
      text-decoration: none;
    }
    strong {
      font-weight: 600;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 18px;
    }
  }

  .notification-wrapper {
    border-top: 2px solid #fff;
    padding: 10px 0;
    height: 70px;

    .country {
      display: none;
    }

    .control {
      margin-top: 5px;
    }

    .rj-switch {
      margin: 0 5px;
    }

    .switch-wrapper {
      text-transform: uppercase;

      .on {
        color: @medium-grey;
      }

      .off {
        color: #fff;
      }

      &.checked {
        .on {
          color: #fff;
        }

        .off {
          color: @medium-grey;
        }
      }

      &.blocked {
        .rj-slider {
          border-color: @medium-grey;

          &:before {
            background-color: @medium-grey;
          }
        }

        .off,
        .on {
          color: @medium-grey;
        }
      }
    }

    .title-wrapper,
    .control-wrapper {
      padding: 0;
    }
    .control-wrapper {
      text-align: center;
    }
    .title-wrapper {
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      p {
        font-weight: 200;
      }
    }
  }

  .view-header {
    color: @medium-grey;

    p {
      font-size: 18px;
    }
  }

  // Job seeker.
  &.is_seeker {
    .view-id-searches_results {
      .job-title {
        font-weight: 600;
      }

      .searches-you-watch-wrapper {
        border-top: 2px solid #fff;
        padding: 20px 0;
        height: 80px;
      }

      .job-applicants-delete {
        text-align: right;
        font-size: 25px;
        margin-top: 5px;

        span {
          color: #fff;
        }
      }

      .first-column {
        padding-left: 0;
      }
      .second-column {
        padding-right: 0;
      }

      .job-title,
      .job-company {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .manage-notifications-link {
        text-align: center;

        a {
          .button-orange-border;
            padding: 5px 20px;
            border-radius: 15px;
            text-transform: uppercase;

            &:hover {
              text-decoration: none;
            }
        }
      }
    }

    .watched-jobs {
      label {
        display: none;
      }

      #edit-submit {
        .button-full-orange;
        width: 100%;
      }

      .range-input-sfs {
        z-index: 10;
        span {
          display: inline-block;
          float: left;
          line-height: 30px;
          width: 50%;
        }

        .form-item-field-range {
          width: 50%;
          float: left;
        }

      }
    }
  }
}

// Delete saved search modal.
  &.modal-open {
    .dialog-off-canvas-main-canvas {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
  }
  .modal-dialog {
    .modal-content {
      background: #1cb5f8;
      border-radius: 0;
      padding: 20px 70px;
      @media (max-width: @screen-xs-max) {
        padding: 20px;
      }
    }
    .modal-header {
      border: none;
      padding-bottom: 0;
    }
    .close {
      color: #fff;
      font-weight: 300;
      opacity: 1;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .modal-actions {
      margin-top: 30px;
      .btn {
        margin-right: 15px;
        height: 30px;
        padding: 8px 30px;
        line-height: 1;
      }
    }
    .address {
      margin: 0;
      .country {
        display: none; // remove this in future when we have more than the US
      }
    }
    .layout__region--content {
      padding-left: 10px;
      border-left: 1px solid #fff;
      margin-left: 1px;
      font-size: 18px;
      padding-bottom: 0;
      margin: 15px 0 15px 1px;
      @media (max-width: @screen-xs-max) {
        font-size: 14px;
      }
    }
    .field--label-inline {
      .field--label {
        font-weight: 300;
        display: inline-block;
        vertical-align: top;
      }
      .field--item {
        font-weight: 500;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

/* Mobile */
 @media (max-width: @screen-xs-max) {
  .path-notifications {
    .notification-wrapper {
      height: 120px;

      .control-wrapper {
        font-size: 12px;

        > div {
          padding-left: 0;
        }
      }
    }
  }

 }


