.path-credit-card {
  .braintree-hosted-field {
    .generic-input;
  }

  #card-number,
  #expiration-month,
  #expiration-year,
  #cvv {
    border-radius: 2px;
    box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.06);
    background: none;
    color: #fff !important;
    border: 1px solid #cccccc;
    height: 34px;
    padding: 6px 12px;
    box-sizing: border-box;

    &.braintree-hosted-fields-focused {
      background: rgba(244, 244, 244, 0.1);
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    &.braintree-hosted-fields-invalid {
      border-color: #dc3545;
    }

    &.braintree-hosted-fields-valid {
      border-color: limegreen;
    }
  }

  .braintree-form {
    .credit-card-form__expiration,
    #edit-add-payment-method-payment-details-cvv {
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
    }
    .credit-card-form__expiration {
      margin-right: 1em;
    }
    .credit-card-form__divider {
      display: none;
    }
  }

  #credit-card-edit {
    .btn {
      &.btn-success {
        .button-full-orange;
        width: 100%;
      }
    }
  }
}

#card-number {
  color: white;
}
