.path-profile,
.path-account {

  .header {
    font-size: 24px;

    .profile-title {
      text-transform: capitalize;
    }
  }
  .panel-title {
    .control-label;
  }
  .my-jobs-link {
    @media (max-width: @screen-xs-max) {
      margin-bottom: 20px;
    }
  }
  .view-empty {
    margin-top: 0 !important;
  }
  .billings-link,
  .my-jobs-link {
    a {
      @media (max-width: @screen-xs-max) {
        font-size: 12px;
      }
    }
  }
  // Job listing.
  .view-my-jobs-dashboard {
    .job-wrapper {
      border-radius: 2px;
      margin: 0;

      .third-column {
        -webkit-border-top-right-radius: 2px;
        -webkit-border-bottom-right-radius: 2px;
        -moz-border-radius-topright: 2px;
        -moz-border-radius-bottomright: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }

  .billing-wrapper {
    padding: 0;
    > .panel-body {
      margin: 0 -15px;
      padding: 0;
      @media (max-width: @screen-xs-max) {
        margin: 0;
      }
    }
    .billing-list {
      .billing-card {
        .background-wrapper-black-mixin();
        margin-bottom: 10px;
        border-radius: 2px;
        overflow: auto;
        padding: 20px;
        &.billing-card-empty {
          padding: 45px;
        }
        .first-column {
          height: 100%;
        }
        .title h4 {
          margin: 0;
        }
        .close-post {
          width: 120px;
          padding: 0;
          margin: 0 0 10px 10px;
        }

        .card-title {
          font-weight: bold;
          border-bottom: 1px solid #fff;
          margin: 0 0 10px;
        }

        .card-history {
          font-size: 14px;
          width: 100%;
          font-weight: 300;
          strong {
            font-weight: bold;
          }
          td {
            padding: 2px 0;
            &.order-value {
              text-align: right;
            }
          }
        }

        .second-column {
          max-height: 120px;
          overflow: hidden;
          &.has-expander {
            &:after {
              width: 100%;
              content: "";
              height: 50px;
              display: block;
              position: absolute;
              bottom: 0;
              background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 1) 100%);
              background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 1) 100%);
              background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(1, 1, 1, 1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#010101',GradientType=0);
            }
          }
          &.show-all {
            &.has-expander {
              &:after {
                display: none;
              }
            }
            max-height: none;
          }
        }

        .full-history {
          padding-top: 5px;
          height: 40px;

          .title {
            text-align: left;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .billing-summary {
    .background-wrapper-black-mixin();
    border-radius: 2px;
    padding: 30px;
    h2 {
      margin: 0 0 20px;
      font-size: 24px;
    }
    .job {
      margin-bottom: 20px;
    }

    .price {
      font-weight: bold;
    }

    .billing-total {
      border-top: 1px solid #fff;
      .total-amount {
        text-align: right;
      }
      .total {
        margin: 20px 0;
        font-size: 18px;
        font-weight: 500;
      }
      p {
        margin-bottom: 60px;
        font-size: 12px;
        line-height: 1.5;
      }
      .orange-link-button {
        margin-bottom: 20px;
      }
    }
  }

  // Profile orders.
  .profile-orders {
    .order-payment {
      border-top: 1px solid #fff;
      padding: 10px 0 0 0;
    }

    .order-title {
      padding: 0;
      margin-bottom: 10px;
    }
  }

  .view {
    .view-filters {
      width: 66.66666667%;
      margin-left: 16.66666667%;

      .bef-datepicker {
        width: 105px;
        height: 25px;

      }

      .form-item-placed-max label {
        font-size: 0;

        &:after {
          content: ' - ';
          font-size: 18px;
        }
      }

      #edit-submit-commerce-user-orders {
        line-height: 0;
        margin-left: 10px;
      }
    }
  }
}



// Mobile devices
@media (max-width: @screen-xs-max) {
  .path-profile {

    .panel-heading {
      .panel-title {
        margin: 0 0 0 10px;

      }
    }

    .billing-wrapper {
      .billing-list {
        padding: 0;
      }
    }

    .billing-summary-wrapper {
      padding: 0;
    }
    .cards-wrapper {
      .credit-card {
        .first-column,
        .second-column,
        .third-column {
          font-size: 18px;
        }
      }
    }

    .billing-total {
      .orange-link-button a {
        font-size: 12px;
      }
    }

    .view {
      .view-filters {
        width: auto;
        margin-left: 0;

        .bef-datepicker {
          width: auto;
          height: auto
        }

        .form-item-placed-max label {
          display: none;
        }

        #edit-submit-commerce-user-orders {
          margin-left: 0;
        }
      }
    }
  }
}

.card {
  &.card-credit-card {
    .background-wrapper-gray-mixin();
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: none;
    &.preferred {
      border: 1px solid @light-orange;
    }
    .card-title {
      text-transform: capitalize;
      font-size: 24px;
    }
  }
}
