{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="page-job-edit{% if jumbotron_image != '' %} has-jumbotron {% endif %}" id="page-content">
  {% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
  {# Navbar #}
  {% if page.navigation or page.navigation_collapsible %}
    {% block navbar %}
      {%
                set navbar_classes = [
                'navbar',
                theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
                theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
            ]
            %}
      <header id="navbar" role="banner">
        <div class="{{ container }}">
          <div class="logo">
            <a href="/" title="Restoration Jobs Home"><img src="{{ logopath }}" alt="Restoration Jobs Logo"/></a>
          </div>
          {{ page.navigation }}
          <div class="navbar-content">
            {{ page.navigation_content }}
          </div>
        </div>
      </header>
    {% endblock %}
  {% endif %}
  {# Jumbotron #}
  {% if jumbotron_image != '' %}
    {% block jumbotron %}
      <aside class="jumbotron">
        <div class="jumbotron-background bg-photo" style="background-image: url({{ jumbotron_image }})">&nbsp;</div>
      </aside>
    {% endblock %}
  {% endif %}
  {# Main #}
  {% block main %}
    <div class="main-container js-quickedit-main-content" role="main">
      <div class="container">
        <div class="row-job-edit row">
          <section
            class="content-job-edit col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1">
            {# Help #}
            {% if page.help %}
              {% block help %}
                {{ page.help }}
              {% endblock %}
            {% endif %}
            {# Content #}
            {% block content %}
              <a id="main-content"></a>
              {{ page.content }}
            {% endblock %}
          </section>
        </div>
      </div>
    </div>

    {% if page.content_bottom %}
      <div class="content-bottom {{ container }}">
        {{ page.content_bottom }}
      </div>
    {% endif %}

  {% endblock %}
</div>
<footer class="footer" role="contentinfo">
  <div class="highlighted-footer">
    {% block highfooter %}
      {{ page.highfooter }}
    {% endblock %}
  </div>
  <div class="{{ container }} footer-main">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        {% block footer1 %}
          {{ page.footer1 }}
        {% endblock %}
      </div>
      <div class="col-xs-12 col-sm-2">
        {% block footer2 %}
          {{ page.footer2 }}
        {% endblock %}
      </div>
      <div class="col-xs-12 col-sm-2">
        {% block footer3 %}
          {{ page.footer3 }}
        {% endblock %}
      </div>
      <div class="col-xs-12 col-sm-3">
        {% block footer4 %}
          {{ page.footer4 }}
        {% endblock %}
      </div>
    </div>
  </div>
</footer>
