<div class="order-history">
  <div class="card-title">
    <span>{% trans %}Credit card ending in {{ card }}{% endtrans %}</span>
  </div>
  <table class="card-history">
    <tbody>
      {% for log in history %}
        <tr>
          <td class="order-description">
            - {{ log.type }} on {{ log.created }}
          </td>
          <td class="order-value">
            {% if log.price %}
              <strong> - {{ log.price }}</strong>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
