{#
/**
 * @file
 * Default theme implementation to present a job posting order log entity.
 *
 * This template is used when viewing a registered job posting order log's page,
 * e.g., /admin/content/job-posting-order-log)/123. 123 being the job posting order log's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_job_posting_order_log()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
