.main-container {
    overflow: hidden;
}

.btn-orange,
.btn-white {
    border: none;
    display: block;
    line-height: 24px !important;
    max-width: 350px;
    height: 40px !important;
    margin: auto;
    font-family: 'Roboto';
    border-radius: 25px !important;
    font-weight: bold !important;
    font-size: 16px !important;
}
.btn-orange {
    color: #f4f4f4;
    background: #eb9827;
}

.btn-white {
    color: #eb9827;
    background: #f4f4f4;
}

#page-content h1, 
#page-content h2 {
    font-family: 'Roboto';
}

#page-content h2 {
    font-size: 32px;
}

#page-content p, 
#page-content li {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.78;
}

#page-content small {
    font-size: 12px;
}

#page-content ul {
    padding-left: 15px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .logo img {
    max-width: 60vw;
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron-background {
    padding-top: 70px;
    padding-bottom: 0;
}

.jumbotron-background h1 {
    font-size: 26px;
    font-weight: 500;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.34);
    line-height: 1.33;
}

.jumbotron-background .btn {
    min-width: 300px;
    line-height: 34px !important;
    height: 50px !important;
    font-size: 24px !important;
}

.field--name-field-section-color {
    display: none;
}

.block-compelling-statement {
    padding-top: 20px;
    padding-bottom: 20px;
}

.block-compelling-statement .statement {
    flex-wrap: wrap;
    flex-flow: column;
    padding: 0;
}

.block-compelling-statement .statement-image {
    z-index: 2;
    max-width: 100%;
    padding: 0;
}


.block-compelling-statement .statement-text {
    padding-left: 35px;
    padding-right: 35px;
}

.block-compelling-statement .statement-text:after {
    border: 1px solid #fd9c21;
    content: '';
    display: block;
    position: absolute;
    width: 200vw;
    height: 150%;
    top: -50%;
    z-index: -1;
}

.block-compelling-statement.statement-image .statement-text {
    position: relative;
}

#mc_embed_signup  {
    margin: auto;
    max-width: 450px;
}

#mc_embed_signup input[type="email"] {
    opacity: 0.8;
    border-radius: 15px;
    border: solid 1px #f2f2f2 !important;
    background-color: rgba(244, 244, 244, 0.25);
    color: #ffffff !important;
}

#mc_embed_signup input[type="submit"] {
    height: 38px;
    border-radius: 15px;
    border: solid 1px #f2f2f2 !important;
    background-color: #f4f4f4;
    color: #eb9827 !important;
    font-weight: bold;
    text-transform: uppercase;
}

#mc_embed_signup input::placeholder {
    color: #ffffff !important;
    font-weight: bold;
    padding-left: 10px;
}

#mce-responses {
    display: none;
}

#mc_embed_signup_scroll {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 769px) {

    .image-desktop {
        display: block !important;
    }

    #page-content p, 
    #page-content li {
        font-size: 18px;
    }

    .block-compelling-statement .statement {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    header .logo img {
        max-width: 448px;
    }

    .jumbotron-background {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .jumbotron-background h1 {
        font-weight: 900;
        font-size: 60px;
    }

    .jumbotron-background .field--type-text-with-summary {
        max-width: 600px;
    }

    .block-generic-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .block-compelling-statement {
        
        margin-top: 50px;
        margin-bottom: 200px;
    }

    .text-center-desktop {
        text-align: center;
    }

    .block-compelling-statement .statement-text {
        padding-top: 50px;
        position: relative;
    }
    
    .block-compelling-statement .statement-image {
        position: absolute;    
    }
    
    .block-compelling-statement.statement-align-left .statement-image {
        left: 0;
    }
    
    .block-compelling-statement.statement-align-right .statement-image {
        right: 0;
    }

    .block-compelling-statement .statement-text:after {
        height: 125%;
        top: 35px;
    }

    .block-compelling-statement.statement-align-right .statement-text:not(.no-image):after {
        right: -25vw;
    }

    .block-compelling-statement.statement-align-right .statement-text.no-image:after {
        right: 0;
    }
    .block-compelling-statement.statement-align-left .statement-text:after {
        left: -25vw;
    }

    #mc_embed_signup_scroll {
        flex-wrap: nowrap;
    }

    #mc_embed_signup input[type="email"] {
        opacity: 0.8;
        border-radius: 0;
        border-top-left-radius: 15px !important;
        border-bottom-left-radius: 15px !important;
    }
    
    #mc_embed_signup input[type="submit"] {
        border-radius: 0;
        border-top-right-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
    }
    
}

@media (max-width: 768px) {

    .image-mobile {
        display: block !important;
    }

    .text-center-mobile {
        text-align: center;
    }

    #page-content h3 {
        font-size: 14px !important;
    }

    #page-content h2 {
        font-size: 16px !important;
    }

    .jumbotron-background .btn {
        margin: 0 !important;
        font-size: 18px !important;
        line-height: 20px !important;
        height: 40px !important;

    }

    .statement {
        display: flex;
    }

    .block-compelling-statement .statement-text {
        padding-bottom: 15px;
    }
    
    .statement-align-left .statement-text:after {
        left: 10px;
    }
    
    .statement-align-right .statement-text:after {
        right: 10px;
    }
    
    .statement-align-right .statement-text.no-image:after {
        right: 10px;
        top: 0;
        height: 100%;
    }
    
    .statement-align-left .statement-text.no-image:after {
        left: 10px;
        top: 0;
        height: 100%;
    }

    .statement .statement-image.right {
        padding-left: 20px;
        order: -1;
    }

    .statement .statement-image.left {
        padding-right: 20px;
    }

    #block-landing-page-compelling-block-1 .statement-image {
        padding-left: 20px;
        padding-right: 0;
    }

    #block-landing-page-compelling-block-2 .statement-text:after {
        right: 10px;
    }
}