{#
/**
 * @file mainmenu.html.twig
 * Default theme implementation to present Main Menu.
 *
 *
 * Available variables:
 * - links: An array of links with url, title, and icon
 *
 * @ingroup themeable
 */
#}

<nav>
    <div id="header-main-menu">
        <ul class="nav navbar-nav">
          {% for link in links %}
            <li{% if link.children is defined %} class="dropdown"{% endif %}>
                {% if link.children is defined and link.children|length > 0 %}
                    <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if link.icon is defined %}<span class="glyphicon glyphicon-{{ link.icon }}"></span>{% endif %}{{ link.title }} <span class="caret"></span></a>
                {% else %}
                    <a href="{{ link.url }}">{% if link.icon is defined %}<span class="glyphicon glyphicon-{{ link.icon }}"></span>{% endif %}{{  link.title }}</a>
                {% endif %}
                {% if link.children is defined and link.children|length > 0 %}
                <ul class="dropdown-menu">
                    {% for child in link.children %}
                    <li>
                        <a href="{{ child.url }}">{% if child.icon is defined %}<span class="glyphicon glyphicon-{{ child.icon }}"></span>{% endif %}{{ child.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
</nav>