{%  set base_url = url('<front>')  %}
<html>
  <head>
    <style type="text/css">
      @media only screen and (max-width:600px) {p, ul li, ol li, a { font-size:16px!important; line-height:150%!important } h1 { font-size:30px!important; text-align:center; line-height:120%!important } h2 { font-size:26px!important; text-align:center; line-height:120%!important } h3 { font-size:20px!important; text-align:center; line-height:120%!important } h1 a { font-size:30px!important } h2 a { font-size:26px!important } h3 a { font-size:20px!important } .es-menu td a { font-size:13px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:16px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class="gmail-fix"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:block!important } .es-button { font-size:16px!important; display:block!important; border-left-width:0px!important; border-right-width:0px!important } .es-btn-fw { border-width:10px 0px!important; text-align:center!important } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { display:table-row!important; width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } .es-desk-menu-hidden { display:table-cell!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } }
      #outlook a {
        padding:0;
      }
      p > a,
      table a {
        color: #fff;
      }
      .ExternalClass {
        width:100%;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height:100%;
      }
      .es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
      }
      a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
      }
      .es-desk-hidden {
        display:none;
        float:left;
        overflow:hidden;
        width:0;
        max-height:0;
        line-height:0;
        mso-hide:all;
      }
      #navbar {
        position: static;
        padding: 50px 0;
        max-width: 100%;
        width: 100%;
        border: none;
        background: #f5a623;
        background: -moz-linear-gradient(top, #f5a623 0%, #ec8503 100%);
        background: -webkit-linear-gradient(top, #f5a623 0%, #ec8503 100%);
        background: linear-gradient(to bottom, #f5a623 0%, #ec8503 100%);
      }
      #navbar .logo img {
        width: 250px;
        height: 25px;
        display: block;
      }
      .container {
        padding-right: 30px;
        padding-left: 50px;
        margin-right: auto;
        margin-left: auto;
        width: 600px;
      }
    </style>
  </head>
  <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <header id="navbar" role="banner">
      <div class="container">
        <div class="logo">
          <img src="{{ base_url }}/themes/custom/restorationjobs_theme/images/logo_RJ.png" alt="Restoration Jobs Logo">
        </div>
      </div>
    </header>
    <div class="es-wrapper-color" style="background-color:#262524;">
      <!--[if gte mso 9]>
      <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" color="#f6f6f6"></v:fill>
      </v:background>
      <![endif]-->
      <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;">
        <tbody>
          <tr style="border-collapse:collapse;">
            <td valign="top" style="padding:0;Margin:0;">
              <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
                <tbody>
                  <tr style="border-collapse:collapse;">
                    <td align="center" bgcolor="#262524" style="padding:0;Margin:0;">
                      <table class="es-content-body" width="620" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                        <tbody>

                        <tr style="border-collapse:collapse;">
                          <td valign="top" style="padding:30px 20px;Margin:0;color:#fff;font-family:arial, 'helvetica neue', helvetica, sans-serif;">
                            {{ body|raw }}
                          </td>
                        </tr>

                        {% if (key|length > 0 and (key == 'rj-owner-message' or key == 'rj-owner-new-applicant')) %}

                          <tr style="border-collapse:collapse;">
                            <td align="left" style="padding:0;Margin:0;padding: 0 20px 30px 20px;">
                              <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#FFFFFF;">This message was sent by Restoration Jobs, click <a style="color:#fff; " href="{{ base_url }}notifications">here</a> to manage your email notifications</p>
                            </td>
                          </tr>

                        {% endif %}

                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="es-footer" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top;">
                <tbody>
                  <tr style="border-collapse:collapse;">
                    <td align="center" bgcolor="#000" style="padding:0;Margin:0;background-color:#000000;">
                      <table class="es-footer-body" width="620" cellspacing="0" cellpadding="0" align="center" bgcolor="#000" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#000000;">
                        <tbody>
                        <tr style="border-collapse:collapse;">
                          <td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;">
                            <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                              <tbody>
                              <tr style="border-collapse:collapse;">
                                <td width="580" valign="top" align="center" style="padding: 10px;Margin:0; border-left: 1px solid gray;">
                                  <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                    <tbody>
                                    <tr style="border-collapse:collapse;">
                                      <td class="es-m-txt-c" align="left" style="padding:0;Margin:0;padding-top:5px;padding-bottom:10px;">
                                        <table class="es-table-not-adapt es-social" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                          <tbody>
                                          <tr style="border-collapse:collapse;">
                                            <td valign="top" align="center" style="padding:0;Margin:0;padding-right:10px;"> <a href="https://www.facebook.com/restorationjobsusa/"><img title="Facebook" src="{{ base_url }}themes/custom/restorationjobs_theme/images/icons/fb_icon.png" alt="Fb" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a></td>
                                            <td valign="top" align="center" style="padding:0;Margin:0;padding-right:10px;"> <a href="https://www.instagram.com/restorationjobsusa/"><img title="Instagram" src="{{ base_url }}themes/custom/restorationjobs_theme/images/icons/instagram_icon.png" alt="Inst" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a></td>
                                            <td valign="top" align="center" style="padding:0;Margin:0;padding-right:10px;"> <a href="https://www.linkedin.com/company/restorationjobs-com/about/"><img title="Youtube" src="{{ base_url }}themes/custom/restorationjobs_theme/images/icons/linkedin_icon.png" alt="Yt" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a></td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr style="border-collapse:collapse;">
                                      <td align="left" style="padding:5px;Margin:0;">
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:21px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:32px;color:#949494;"><b>CONTACT/FEEDBACK</b></p>
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:21px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:32px;color:#949494;"><b></b></p>
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#949494;">1-866-921-0425</p>
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#949494;"><br></p>
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#949494;">8690 Wolff Court</p>
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#949494;">Westminster, CO 80031</p>
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#949494;"><br></p>
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#949494;">support@restorationjobs.com</p>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
