.field--widget-rj-inline-entity-form .panel .panel {
  margin: 0;
}
.field--widget-rj-inline-entity-form .panel .panel .panel-heading {
  display: none;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table {
  display: block;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table:after {
  content: "";
  display: table;
  clear: both;
  zoom: 1;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table thead {
  display: none;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tbody {
  display: block;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr {
  background: #474542;
  display: block;
  margin-bottom: 5px;
  position: relative;
  padding: 0 25px 0 35px;
  float: left;
  clear: both;
  font-size: 10px;
  counter-increment: inst;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr .ief-tabledrag-handle {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr .ief-tabledrag-handle a {
  height: 100%;
  width: 100%;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr .ief-tabledrag-handle .icon {
  display: none;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr:before {
  content: counter(inst);
  position: absolute;
  left: 0;
  background: orange;
  width: 25px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  top: 0;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td {
  border: none;
  display: inline-flex;
  align-items: center;
  height: 25px;
  padding: 0;
  text-transform: uppercase;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .form-type-select,
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .tabledrag-changed {
  display: none;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .tabledrag-handle {
  margin: 0;
  font-size: 12px;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .ief-entity-operations {
  position: absolute;
  right: 0;
  margin: 0;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .ief-entity-operations .form-submit {
  background: none;
  border: none;
  padding: 0;
  overflow: hidden;
  width: 25px;
  position: relative;
  color: #fff;
  line-height: 22px;
  height: 25px;
  font-size: 14px;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .ief-entity-operations .form-submit[value="Edit"] {
  display: none;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .ief-entity-operations .form-submit:hover {
  border: none;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .ief-entity-operations .form-submit .icon {
  position: absolute;
  left: 9px;
  top: 8px;
  text-indent: 0;
  margin: 0;
  font-size: 10px;
}
.field--widget-rj-inline-entity-form .panel .ief-entity-table tr td .ief-entity-operations .form-submit:disabled {
  text-indent: -1000px;
}
.field--widget-rj-inline-entity-form .tabledrag-toggle-weight {
  display: none;
}
.field--widget-rj-inline-entity-form .ief-entity-table .ief-row-form,
.field--widget-rj-inline-entity-form .ief-entity-table .ief-form {
  display: none !important;
}
.field--widget-rj-inline-entity-form .table-responsive {
  border: none;
}
