.rj-range-slider-widget-field .field--widget-range-text-fields {
  display: none;
}
.rj-range-slider-widget.ui-widget.ui-widget-content {
  height: 1px;
  border: none;
  background: #fff;
  margin: 0;
}
.rj-range-slider-widget {
  position: relative;
}
.rj-range-slider-widget:before,
.rj-range-slider-widget:after {
  content: "";
  width: 1px;
  background: #fff;
  height: 30px;
  position: absolute;
  top: -15px;
}
.rj-range-slider-widget:before {
  left: 0;
}
.rj-range-slider-widget:after {
  right: 0;
}
.rj-range-slider-widget .ui-slider-handle {
  top: -8px;
  border-radius: 50%;
  border: none;
  margin-left: -1px;
}
.rj-range-slider-widget .ui-slider-handle .custom-handler {
  font-weight: 500;
  width: 50px;
  height: 30px;
  top: -35px;
  right: -40px;
  position: absolute;
  background-color: #f1a222;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 5px;
  font-size: 11px;
  border-bottom-left-radius: 0;
}
.rj-range-slider-widget .ui-slider-handle .custom-handler.handler-0.push {
  right: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}
.rj-range-slider-widget .ui-slider-handle .custom-handler.handler-1.push {
  right: -45px;
}
.rj-range-slider-widget-field .panel-heading {
  margin-bottom: 30px;
}
.rj-payment {
  margin-top: 30px;
}
.rj-payment .pay-info,
.rj-payment .pay-description {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
.rj-payment .pay-info {
  width: 250px;
  border: 1px solid #fff;
  text-align: right;
  cursor: not-allowed;
  margin-right: 10px;
  padding: 5px;
}
.rj-payment .pay-description {
  font-weight: bold;
}
