@font-face {
	font-family: 'social';
	src:url('social.eot');
	src:url('social.eot#iefix') format('embedded-opentype'),
		url('social.ttf') format('truetype'),
		url('social.woff') format('woff'),
		url('social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

.social-icon, [class^="social-icon-"], [class*=" social-icon-"] {
	font-family: 'social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

.social-icon-facebook:before {
	content: "\e800";
}
.social-icon-googleplus:before {
	content: "\e801";
}
.social-icon-instagram:before {
	content: "\e900";
}
.social-icon-linkedin:before {
	content: "\e803";
}
.social-icon-twitter:before {
	content: "\e804";
}
.social-icon-warning:before {
	content: "\e805";
}
.social-icon-youtube:before {
	content: "\e806";
}