<style>
</style>

<template>
  <form @submit.prevent="submitForm" ref="commentForm">
    <div class="field">
      <textarea class="textarea form-control" v-model="form.body" required></textarea>
    </div>
    <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" style="display: none" />
    <div v-if="form.file" class="file-listing">
      <img v-bind:src="form.imagePreview" />
      <div class="file-listing-name">{{ form.file.name }}</div>
      <a class="file-listing-remove" v-on:click="removeFile()">Remove</a>
    </div>
    <div class="submit-container">
      <button type="button" class="btn btn-primary-outline" v-on:click="openFileDialog()">Attach a File</button>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</template>

<script>

  import axios from "axios";

  export default {
    name: "MessagesForm",
    data() {
      return {
        dragAndDropCapable: false,
        form: {
          name: '',
          body: '',
          imagePreview: '',
          file: null,
        }
      }
    },
    methods: {
      openFileDialog() {
        document.getElementById("file").click();
      },
      submitForm() {
        var formData = new FormData();
        var comment = {
          'entity_id': this.$store.state.current_job_id,
          'entity_type': 'job_posting',
          'uid': this.$store.state.current_uid,
          'comment_type': 'message',
          'field_name': 'field_messages',
          'comment_body': this.form.body,
          'field_application': this.$store.state.current_app_id,
          'file': this.form.file,
        };
        for (var key in comment) {
          if (typeof comment[key] !== 'undefined') {
            formData.append(key, comment[key]);
          }
        }
        axios.post('messages-json/create-message', formData, {
          header: {
            'Content-Type': 'multipart/form-data',
            'X-CSRF-Token': this.$store.state.csrf_token
          },
          withCredentials: true
        }).then((response) => {
          this.$store.dispatch('loadMessages', false);
          this.resetForm();
        });
      },
      handleFileUpload(){
        let file = this.$refs.file.files[0];
        if(file.size/1024/1024 > 10){
          alert("Unable to attach file. Only files less than 10mb are allowed.");
          return false;
        } else if (!(/\.(jpe?g|doc?x|ppt?x|xls?x|pdf|png|gif)$/i.test(file.name))) {
          alert("Unable to attach file. Only PDF, XLS, XLSX, DOC, DOCX, PPT, PPTX, JPG, PNG, and GIF image files are supported.");
          return false;
        }
        this.form.file = file;
        this.form.imagePreview = '';
        let reader  = new FileReader();
        reader.addEventListener("load", function () {
          this.form.imagePreview = reader.result;
        }.bind(this), false);
        if(this.form.file){
          if ( /\.(jpe?g|png|gif)$/i.test( this.form.file.name ) ) {
            reader.readAsDataURL( this.form.file );
          }
        }
      },
      resetForm() {
        this.form.body = '';
        this.form.file = null;
        this.form.imagePreview = '';
      },
      removeFile(key) {
        this.form.file = null;
        this.form.imagePreview = '';
      },
    },
    updated: function () {
      this.$nextTick(function () {
        var container = this.$parent.$refs.messagesScrollContainer;
        container.scrollTop = container.scrollHeight;
      })
    },
    components: {},
    filters: {}
  };
</script>
