<style>
</style>

<template>

  <div id="messages-breadcrumb">
    <div class="messages-breadcrumb-item"><a href='/'>Home</a></div>
    <div class="messages-breadcrumb-item" v-if="userType == 'seeker' || currentSelectedAppID == null" v-on:click="backToJobs()">
      <template v-if="userType == 'employer'">
        Job Posts
      </template>
      <template v-if="userType == 'seeker'">
        Messages
      </template>
    </div>
    <div class="messages-breadcrumb-item" v-if="userType == 'employer' && currentSelectedJobID != null" v-on:click="backToApps()">Messages</div>
    <div class="messages-breadcrumb-item" v-if="currentSelectedAppID != null">{{ app_name }} </div>
  </div>

</template>

<script>
  export default {
    name: "MessagesBreadcrumb",
    data() {
      return {};
    },
    computed: {
      userType() {
        return this.$store.state.user_type;
      },
      messages() {
        return this.$store.state.messages;
      },
      jobs() {
        return this.$store.state.jobs;
      },
      apps() {
        return this.$store.state.apps;
      },
      app_name() {
        if (this.$store.state.user_type == 'employer') {
          return this.$store.state.apps[this.$store.state.current_app_id].applicant_name;
        } else {
          return this.$store.state.jobs[this.$store.state.current_job_id].author;
        }
      },
      currentSelectedJobID: {
        get() {
          return this.$store.state.current_job_id;
        },
        set(newValue) {
          this.$store.commit("setCurrentSelectedJobID", newValue);
        }
      },
      currentSelectedAppID: {
        get() {
          return this.$store.state.current_app_id;
        },
        set(newValue) {
          this.$store.commit("setCurrentSelectedAppID", newValue);
        }
      },
    },
    methods: {
      backToApps() {
        this.currentSelectedAppID = null;
      },
      backToJobs() {
        this.currentSelectedAppID = null;
        this.currentSelectedJobID = null;
      },
    },
    mounted: function () {
      this.$nextTick(function () {
        jQuery('#messages-breadcrumb').appendTo('#navbar > .container');
      })
    },
    components: {},
    filters: {}
  };
</script>
