<style>
</style>

<template>
  <div id="messages-jobs" :class="[currentSelectedJobID != null ? 'active' : '']">
    <div class="scrolling-messages-container">

      <div v-if="isLoading" class="messages-loading">LOADING...</div>

      <template v-if="userType == 'employer'" v-for="(job, key) in jobs">
        <div :class="['message-drilldown', 'message-drilldown-job', job.new_count > 0 ? 'has-new' : '', job.job_id == currentSelectedJobID ? 'active' : '']" v-on:click="selectJob(job.job_id)">
          <div class="message-drilldown-title">{{ job.job_title }}</div>
          <div class="message-drilldown-new-count" v-show="job.new_count > 0">{{ job.new_count }} new</div>
          <div class="message-drilldown-location">{{ job.address[0].locality }}, {{ job.address[0].administrative_area }}</div>
        </div>
      </template>

      <template v-if="userType == 'seeker'" v-for="(job, key) in jobs">
        <div :class="['message-drilldown', 'message-drilldown-job', job.new_count > 0 ? 'has-new' : '', job.job_id == currentSelectedJobID ? 'active' : '']" v-on:click="selectApp(job.job_id, job.app_id, job.app_uid)">
          <div class="message-drilldown-title">{{ job.author }} ({{ job.company }})</div>
          <div class="message-drilldown-new-count" v-show="job.new_count > 0">{{ job.new_count }} new</div>
          <div class="message-drilldown-company">{{ job.job_title }}</div>
          <div class="message-drilldown-location">{{ job.address[0].locality }}, {{ job.address[0].administrative_area }}</div>
        </div>
      </template>

      <div class="messages-empty"  v-if="!isLoading && jobs.length == 0 && userType == 'seeker'">
        When you apply for a job, the messaging portal will open for you to communicate with the company that posted the job.
      </div>
      <div class="messages-empty"  v-if="!isLoading && jobs.length == 0 && userType == 'employer'">
        When you post a job, the messaging portal will open for you to communicate with the job applicants.
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "MessagesJobs",
    data() {
      return {};
    },
    watch: {
      jobs: {
        immediate: true,
        deep: false,
        handler(newValue, oldValue) {
          let firstItem = Object.keys(newValue)[0];
          if (firstItem) {
            let job = newValue[firstItem];
            if (this.userType == 'seeker') {
              this.selectApp(job.job_id, job.app_id, job.app_uid);
            }
            else {
              this.selectJob(job.job_id);
            }
          }
        }
      }
    },
    computed: {
      jobs() {
        return this.$store.state.jobs;
      },
      userType() {
        return this.$store.state.user_type;
      },
      currentSelectedJobID: {
        get() {
          return this.$store.state.current_job_id;
        },
        set(newValue) {
          this.$store.commit("setCurrentSelectedJobID", newValue);
        }
      },
      currentSelectedAppID: {
        get() {
          return this.$store.state.current_app_id;
        },
        set(newValue) {
          this.$store.commit("setCurrentSelectedAppID", newValue);
        }
      },
      isLoading() {
        return this.$store.state.is_loading_jobs;
      }
    },
    methods: {
      selectJob(jobID) {
        if (this.currentSelectedJobID != jobID) {
          this.currentSelectedJobID = jobID;
          this.$store.dispatch('loadApps', true);
        }
      },
      selectApp(jobID, appID, appUID) {
        if (this.currentSelectedAppID != appID) {
          this.currentSelectedJobID = jobID;
          this.currentSelectedAppID = appID;
          this.currentSelectedAppUID = appUID;
          this.$store.dispatch('loadMessages', true);
        }
      },
    },
    components: {},
    filters: {}
  };
</script>
