<style>
</style>

<template>

  <div id="messages-apps" :class="[currentSelectedAppID != null ? 'active' : '']">
    <div class="scrolling-messages-container">

      <div v-if="isLoading" class="messages-loading">LOADING...</div>

      <template v-if="!isLoading && currentSelectedJobID" v-for="(app, key) in apps">
        <div :class="['message-drilldown', 'message-drilldown-app', app.new_count > 0 ? 'has-new' : '', app.app_id == currentSelectedAppID ? 'active' : '']" class="" v-on:click="selectApp(app.app_id)">
          <div class="message-drilldown-title">{{ app.applicant_name }}</div>
          <div class="message-drilldown-new-count" v-show="app.new_count > 0">{{ app.new_count }} new</div>
          <div class="message-drilldown-applicant-title">{{ app.applicant_title }}</div>
          <div class="message-drilldown-snippet">{{ app.snippet }}</div>
        </div>
      </template>

      <div class="messages-empty" v-if="!isLoading && apps.length == 0 && currentSelectedJobID">
        There are currently no applicants for this job post
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    name: "MessagesApps",
    data() {
      return {};
    },
    computed: {
      apps() {
        return this.$store.state.apps;
      },
      currentSelectedAppID: {
        get() {
          return this.$store.state.current_app_id;
        },
        set(newValue) {
          this.$store.commit("setCurrentSelectedAppID", newValue);
        }
      },
      currentSelectedJobID: {
        get() {
          return this.$store.state.current_job_id;
        },
      },
      isLoading() {
        return this.$store.state.is_loading_apps;
      }
    },
    watch: {
      apps: {
        immediate: true,
        deep: false,
        handler(newValue, oldValue) {
          let firstItem = Object.keys(newValue)[0];
          if (firstItem) {
            this.selectApp(firstItem, newValue[firstItem].app_uid);
          }
        }
      }
    },
    methods: {
      selectApp(appID, appUID) {
        if (this.currentSelectedAppID != appID) {
          this.currentSelectedAppID = appID;
          this.currentSelectedAppUID = appUID;
          this.$store.dispatch('loadMessages', true);
        }
      },
    },
    components: {},
    filters: {}
  };
</script>
