<style></style>

<template>
  <div id="messages-thread">
    <div ref="messagesScrollContainer" class="scrolling-messages-container">

      <div v-if="isLoading" class="messages-loading">LOADING...</div>

      <div v-if="!isLoading && showMessages">
        <template v-for="message in messages">
          <div :class="['message', message.uid == currentUid ? 'my-message' : 'recipient-message']">
            <div class="message-meta">
              <span class="message-meta-author"><strong>{{ message.author }}</strong>:</span>
              <span class="message-meta-timestamp">{{ message.date }} at {{ message.time }}</span>
            </div>
            <div class="message-bubble">
              <div class="message-body">{{ message.body }}</div>
              <div v-html="message.file"></div>
            </div>
          </div>
        </template>

        <template v-if="showMessages && jobState == 'active' && appStatus != 'declined'">
          <messages-form></messages-form>
        </template>
        <template v-else-if="jobState != 'active'">
          <div class="message-alert">New messages are disabled because the job posting is closed.</div>
        </template>
        <template v-else-if="appStatus == 'declined'">
          <div class="message-alert" v-if="userType == 'seeker'">
            New messages are disabled for this job post.
          </div>
          <div class="message-alert" v-if="userType == 'employer'">
            New messages are disabled because the applicant has been declined.
          </div>
        </template>

      </div>
    </div>
  </div>

</template>

<script>

  import MessagesForm from "./MessagesForm";

  export default {
    name: "MessagesThread",
    computed: {
      messages() {
        return this.$store.state.messages;
      },
      currentUid() {
        return this.$store.state.current_uid;
      },
      userType() {
        return this.$store.state.user_type;
      },
      appStatus() {
        if (this.$store.state.user_type == 'employer') {
          return this.$store.state.apps[this.$store.state.current_app_id].status;
        } else {
          return this.$store.state.jobs[this.$store.state.current_job_id].app_status;
        }
      },
      jobState() {
        return this.$store.state.jobs[this.$store.state.current_job_id].state;
      },
      showMessages() {
        return this.$store.state.current_app_id;
      },
      isLoading() {
        return this.$store.state.is_loading_messages;
      }
    },
    updated: function () {
      this.$nextTick(function () {
        var container = this.$refs.messagesScrollContainer;
        container.scrollTop = container.scrollHeight;
      })
    },
    components: {
      MessagesForm
    },
    filters: {}
  };
</script>
