<div id="messages-vue">
  <messages-breadcrumb></messages-breadcrumb>
  <div class="row">
    {% if user_type == 'seeker' %}
      <div class="col-sm-4">
        <messages-jobs></messages-jobs>
      </div>
      <div class="col-sm-8">
        <messages-thread></messages-thread>
      </div>
    {% else %}
      <div class="col-sm-3">
        <messages-jobs></messages-jobs>
      </div>
      <div class="col-sm-4">
        <messages-applications></messages-applications>
      </div>
      <div class="col-sm-5">
        <messages-thread></messages-thread>
      </div>
    {% endif %}
  </div>
</div>
