{#
/**
 * @file job_posting.html.twig
 * Default theme implementation to present Job Posting data.
 *
 * This template is used when viewing Job Posting pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_job_posting()
 *
 * @ingroup themeable
 */
#}
<section{{ attributes }}>
    <div class="jumbotron-background bg-photo" style="background-image: url({{ content['_field_layout']['content']['field_background_image']['#items'].entity.uri.value | image_style('1440x500') }})">
        <div class="container">
            {{ content['_field_layout']['content']['body'] }}
        </div>
    </div>
</section>
