<div class="header-notifications">
  <a title="{{ header.text }}" href="{{ header.link }}">{{ header.text }}</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  <strong>Manage Notifications</strong>
</div>
