{% if route_name == 'user.login' %}
  <div class="social-auth-block">
    <a class="btn btn-primary-blue btn-linkedin" href="/employers/linkedin?type={{ type }}{% if job_posting is defined %}&job={{ job_posting }}{% endif %}">
      <span class="social-icon social-icon-linkedin"></span> Log In with LinkedIn
    </a>
  </div>
{% else %}
  {% if type != '' %}
    <div class="social-auth-block">
      <a class="btn btn-primary-blue btn-linkedin" href="/employers/linkedin?type={{ type }}{% if job_posting is defined %}&job={{ job_posting }}{% endif %}">
        <span class="social-icon social-icon-linkedin"></span> Register with LinkedIn
      </a>
    </div>
  {% endif %}
{% endif %}
