<div id="validate-email" class="text-center">
  <p>Thanks! We've sent a verification to your email.
    {% if user_type == 'employer' %}
      Confirm your email so that you can get started finding the best people in the business!
    {% else %}
      Confirm your email so that you can get started applying for jobs!
    {% endif %}
  </p>

  <a href="{{ resend_url }}" class="btn btn-primary">RESEND VERIFICATION EMAIL</a>
</div>
