<div class="billing-summary-wrapper col-md-4 col-xs-12">
  <div class="billing-summary">
    <h2>{% trans %}Recent charges{% endtrans %}</h2>
    <div class="jobs">
      {% for job in billing.jobs|slice(0, 5) %}
        <div class="job">
          <div>{{ job.title }}</div>
          <div class="price">{{ job.price|commerce_price_format }}/30 {% trans %}days{% endtrans %}</div>
        </div>
      {% endfor %}
    </div>
    <div class="billing-total">
      <div class="row">
        <span class="total total-label col-xs-6">{% trans %}Grand Total{% endtrans %}</span>
        <span class="total total-amount col-xs-6">{{ billing.total|commerce_price_format }}</span>
        <!---<p class="col-xs-12">{% trans %}You will be billed at the beginning of the next 30 day cycle unless you opt out of auto-renewing posts{% endtrans %}</p>--->
        <div class="col-xs-12 orange-link-button">
          <a href="{{ billing.list_link }}">{% trans %}VIEW FULL TRANSACTION DETAILS{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
