<div class="billing-card">
  <div class="info-wrapper row">
    <div class="first-column col-xs-12 col-md-8">
      <div class="title"><h4>{{ job_title }}</h4></div>
    </div>
    <div class="second-column col-xs-12 col-md-4 {% if view_full_history %} has-expander {% endif %}">
      {{ payment_history}}
    </div>
  </div>
  <div class="col-xs-12 full-history">
    {% if view_full_history %}
      <div class="col-md-8"></div>
      <div class="col-md-4 title">
        <span>View Full History</span>
        <span class="hidden">Hide Full History</span>
      </div>
    {% endif %}
  </div>
</div>
