<div class="card card-credit-card">
  <div class="card-section card-title">
    <div class="inner">
      <div class="card-title-header">
        {{ credit_card.type }} {% trans %}ending in{% endtrans %} <strong>{{ credit_card.number }}</strong>
      </div>
    </div>
  </div>
  <div class="card-section card-meta">

  </div>
  <div class="card-section card-cta">
    <a class="card-cta-btn" href="{{ credit_card.edit }}">{% trans %}MANAGE{% endtrans %}</a>
  </div>
</div>
