<h1 class="page-title">
  <a href="{{ path('restorationjobs_applicants.applicant_profile') }}">Profile</a>
  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  <strong><span>{{ card.type}}</span>
  {% trans %} ending in {% endtrans %}
  {{ card.number }}</strong>
</div>
