<div class="card card-header card-transparent">
  <div class="card-section card-title card-flex-push">
    <div class="inner">
      <div class="card-title-header">
        <a href="{{ path('<front>') }}">Home</a>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <strong>{{ profile.name }}{% if profile.company %}, {{ profile.company }}{% endif %}</strong>
      </div>
    </div>
  </div>
  <div class="card-section card-cta">
    {% if profile.edit %}
      {% if profile.company %}
        <a class="edit card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_companies.employers_update_profile') }}">
          Edit Company
        </a>
      {% else %}
        <a class="edit card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_applicants.applicant_profile') }}">
          Edit Profile
        </a>
      {% endif %}
      <a class="edit card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_users.account_edit') }}">
        Edit Account
      </a>
    {% else %}
      {% if profile.company %}
        <a class="edit card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_companies.employers_update_profile') }}">
          Edit Company
        </a>
        <a class="edit card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_users.account_edit') }}">
          Edit Account
        </a>
      {% else %}
        <a class="edit card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_applicants.applicant_profile') }}">
          Edit Profile
        </a>
        <a class="edit card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_users.account_edit') }}">
          Edit Account
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>

