<h1 class="page-title">
    <a href="{{ path('restorationjobs_applicants.applicant_profile') }}">Profile</a>
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <strong>{{ user.name }} {% trans %}, Account Summary{% endtrans %}</strong>
</h1>
