<div id="employers-page-content">
    <div class="sign-up">
        <h2>Start finding qualified hires now!</h2>
        <form method="post" {{ attributes }}>
          <div class="row">
            {{ employer_signup_form.form_build_id }}
            {{ employer_signup_form.form_token }}
            {{ employer_signup_form.form_id }}
            <div class="form-email col-xs-12 col-sm-3">
                {{ employer_signup_form.mail }}
            </div>
            <div class="form-company col-xs-12 col-sm-3">
                {{ employer_signup_form.company }}
            </div>
            <div class="form-confirm col-xs-12 col-sm-3">
                {{ employer_signup_form.actions.submit }}
            </div>
            <div class="employer-linkedin col-xs-12 col-sm-3">
            </div>
            <div class="employer-linkedin col-xs-12 col-sm-3">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connect with...
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li> <a class="dropdown-item" href="/employers/linkedin?type=employer"><span class="social-icon social-icon-linkedin"></span> LinkedIn</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </form>
    </div>
    <div class="description">
        {{ employer_signup_form.employer_signup_content }}
        <div class="payment-description">
          For a limited time your postings are free!
        </div>
    </div>
</div>
