<script>
    function initialize() {
        var input = document.getElementById('edit-location');
        autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('edit-latitude').value = place.geometry.location.lat();
            document.getElementById('edit-longitude').value = place.geometry.location.lng();
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="homepage-search-box">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% if user_type == 'anonymous' %}
            <li role="presentation" class="active"><a href="#find_a_job" aria-controls="find_a_job" role="tab" data-toggle="tab">FIND A JOB</a></li>
            <li role="presentation"><a href="#post_a_job" aria-controls="post_a_job" role="tab" data-toggle="tab">POST A JOB</a></li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% if (user_type == 'anonymous' or user_type == 'seeker') %}
            <div role="tabpanel" class="tab-pane active" id="find_a_job">
                <h2>The easiest way to find a restoration job.</h2>
                {{ find_a_job_form }}
            </div>
        {% endif %}
        {% if (user_type == 'anonymous' or user_type == 'employer') %}
            <div role="tabpanel" class="tab-pane {% if user_type == 'employer' %} active {% endif %}" id="post_a_job">
                <h2>Restoration jobs leads the industry in sourcing restoration workers from around the country. Learn more about finding your next great hire.</h2>
                <div class="text-center">
                    {% if user_type == 'anonymous' %}
                        <a href="/employers" class="employers-link btn btn-primary form-submit">GET STARTED</a>
                    {% elseif user_type == 'employer' %}
                        <a href="/post-job" class="employers-link btn btn-primary form-submit">GET STARTED</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

</div>
