<div id="job-post-header-block">
  <div class="content">
    {% if header.step == 1 %}
      <a href="{{ header.myJobs }}">My Job Posts</a>
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <strong>New Job Post</strong>
    {% else %}
      {{ header.content }}
    {% endif %}
  </div>
  <div class="steps step-{{ header.step }}">
    Step {{ header.step }}/4
  </div>
</div>
