<script>
    function initialize() {
      var input = document.getElementById('edit-location--2');
      autocomplete = new google.maps.places.Autocomplete(input);
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
          var place = autocomplete.getPlace();
          document.getElementById('edit-latitude').value = place.geometry.location.lat();
          document.getElementById('edit-longitude').value = place.geometry.location.lng();
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<form method="post">
  <div class="row">
    {{ header.form.form_build_id }}
    {{ header.form.form_token }}
    {{ header.form.form_id }}
    {{ header.form.job_id }}

    <div class="col-xs-12 col-sm-6 col-md-3">
      {{ header.form['title'] }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      {{ header.form['location'] }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="row">
        <div class="col-xs-5 search-within">search within</div>
        <div class="col-xs-7">{{ header.form['radius'] }}</div>
      </div>
    </div>
    <div class="hidden">
      {{ header.form['latitude'] }}
      {{ header.form['longitude'] }}
      {{ header.form['last_search'] }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
      {{ header.form['submit'] }}
    </div>
    <div class="col-xs-12">
      {{ header.form['field_years_of_experience'] }}
    </div>
    <div class="col-xs-12">
      {{ header.form['submit-mobile'] }}
    </div>
  </div>
</form>
