<div class="custom-job-edit-block">
  <div class="container content-wrapper job-edit-header">
    <div class="job-wrapper job-transparent">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 first-column apply">
          <div class="job-title apply">
            {{ job.title }}
          </div>
          <div class="job-company apply">
            {{ job.company_name }}
          </div>
          <div class="job-address apply">
            {{ job.address }}
          </div>
        </div>
          <div class="col-md-3 col-sm-3 col-xs-12 second-column apply">
            {% if job.expires_at %}
              <span>YOU WILL BE BILLED IN {{ job.expires_at }} DAYS</span>
            {% endif %}
          </div>
        <div class="col-md-3 col-sm-3 col-xs-12 third-column apply">
          {% if job.close_job_link %}
            <div class="col-xs-5 job-applicants-count job-close apply">
              <a class="use-ajax" href="{{ job.close_job_link }}">Close Post</a>
            </div>
          {% endif %}
          <div class="col-xs-7 job-applicants-count apply">
            <a class="" href="#">View Applicants</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
