{#
/**
 * @file job_posting.html.twig
 * Default theme implementation to present Job Posting data.
 *
 * This template is used when viewing Job Posting pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - job_posting
 *
 * @see template_preprocess_job_posting()
 *
 * @ingroup themeable
 */
#}

{% set job_title = job_posting.field_job_title.entity.name.value %}

{% if elements['#view_mode'] == 'teaser' %}

  <div class="card card-job card-{{ card_style }}">
    <div class="card-section card-title">
      <div class="inner">
        <div class="card-title-header">
          <a href="/job/{{ job_posting.id() }}" title="View Job">
            {{ job_title }}
          </a>
        </div>
        <div class="card-title-subheader">
          <div>
            {{ job_posting.field_company.entity.label.value }}
          </div>
          <div>
            {{ job_posting.field_location.locality }}, {{ job_posting.field_location.administrative_area }}
          </div>
        </div>
      </div>
    </div>
    <div class="card-section card-meta">
      <div class="inner">
        
      </div>
    </div>
    <div class="card-section card-cta">
      {% if user_type == 'seeker' %}
        {% if applied %}
          <span class="card-cta-span">
            Applied
          </span>
        {% else %}
          {% for cta in ctas %}
            {% if cta.class in ['card-cta-btn-lightning-apply', 'card-cta-btn-grey external-apply'] %}
              <a class="card-cta-btn hidden-xs {{ cta.class }}" href="{{ cta.url }}" {% if cta.target %}target="{{ cta.target }}"{% endif %}>{{ cta.title }}</a>

              <div class="hidden-sm hidden-md hidden-lg {{ cta.class }}">
                <a class="{{ cta.class }}" href="{{ cta.url }}" {% if cta.target %}target="{{ cta.target }}"{% endif %}>{{ cta.title }}</a>
                <span>{{ meta }}</span>
              </div>
            {% else %}
              <a class="card-cta-btn {{ cta.class }}" href="{{ cta.url }}" {% if cta.target %}target="{{ cta.target }}"{% endif %}>{{ cta.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% elseif user_type == 'employer' %}
        {% for cta in ctas %}
          {% if cta.url %}
            <a class="card-cta-btn {{ cta.class }}" href="{{ cta.url }}">{{ cta.title }}</a>
          {% else %}
            <span class="card-cta-btn {{ cta.class }}">{{ cta.title }}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% else %}

  <div{{ attributes.addClass('job_posting') }}>
    {% if content %}
      {{- content -}}
    {% endif %}
  </div>

{% endif %}
