{%  set base_url = url('<front>')  %}

<p style="Margin:0 0 30px 0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#FFFFFF;">A new applicant has applied for {{ email.title }}. View their profile below.</p>

<table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;">
  <tbody>
    <tr style="border-collapse:collapse;">
      <td align="left" bgcolor="#000" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-color:#000000;" esdev-eq="true">
        <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width: 100%;">
          <tbody>
            <tr style="border-collapse:collapse;">
              <td width="130" valign="middle" class="es-m-p0r es-m-p20b" align="center" style="padding:0;Margin:0;">
                <img class="adapt-img" src="{{ email.photoUrl }}" alt="" style="width:90px;height:90px;border-radius:50%;display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="80"></td>
              </td>
              <td width="130" valign="middle" class="es-m-p20b" align="center" style="padding:0;Margin:0;">
                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#FFFFFF;">{{ email.name }}</p>
                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#FFFFFF;">{{ email.location }}</p>
              </td>
              <td width="130" valign="middle" class="es-m-p20b" align="center" style="padding:0;Margin:0;">
                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#FFFFFF;">{{ email.score }}% MATCH</p>
              </td>
              <td width="130" valign="middle" align="center" style="padding:0;Margin:0;">
                <p style="  Margin: 0;  -webkit-text-size-adjust: none;  -ms-text-size-adjust: none;  mso-line-height-rule: exactly;  font-size: 14px;  font-family: arial, 'helvetica neue', helvetica, sans-serif;  line-height: 21px;  color: #262524;  background-color: white;  border-radius: 10px;  font-weight: 600;  text-align: center;">
                  <a style="color:#262524; text-decoration:none;" href="{{ email. profileUrl }}">View Profile</a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>