{%  set base_url = url('<front>')  %}
<table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;">
  <tbody>
    <tr style="border-collapse:collapse;">
      <td align="left" style="padding:0;Margin:0;">
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
          <tbody>
            <tr style="border-collapse:collapse;">
              <td width="580" align="center" valign="top" style="padding:0;Margin:0;">
                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                  <tbody>
                  <tr style="border-collapse:collapse;">
                    <td align="left" style="padding:0;Margin:0;padding-bottom:15px;">
                      <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:24px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:36px;color:#FFFFFF;"><strong>Message from {{ email.name }}</strong></p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="border-collapse:collapse;">
      <td align="left" bgcolor="#262524" style="padding:0;background-color:#262524;">
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
          <tbody>
            <tr style="border-collapse:collapse;">
              <td width="580" align="center" valign="top" style="padding:0;Margin:0;">
                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                  <tbody>
                    <tr style="border-collapse:collapse;">
                      <td class="es-m-txt-c" align="left" style="padding:0;Margin:0;padding-bottom:10px;">
                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#FFFFFF;">{{ email.message }}</p>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse;">
                      <td align="left" style="padding:10px 0px 0px 0px;Margin:0;">
                        <span class="es-button-border es-button-border-2" style="border-style:solid;border-color:#EB9827;background:#EB9827;border-width:2px;display:inline-block;border-radius:15px;width:auto;"><a href="{{ email.conversationUrl }}" class="es-button es-button-1" target="_blank" style="mso-style-priority:100 !important;text-decoration:none !important;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#FFFFFF;border-style:solid;border-color:#eb9827;border-width:5px 30px 5px 30px;display:inline-block;background:#EB9827;border-radius:15px;font-weight:bold;font-style:normal;line-height:19px;width:auto;text-align:center;">Go to conversation</a></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
