<form{{ form.attributes }}>
    <div class="row">
        <div class="col-xs-8">
            <h3 class="caps-header">Job Information</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6">{{ form.job_title }}</div>
                <div class="col-xs-12 col-sm-6">{{ form.emphasis }}</div>
            </div>
        </div>
        <div class="col-xs-4">
            <h3 class="caps-header">Work Site Location</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-8">{{ form.address.locality }}</div>
                <div class="col-xs-12 col-sm-4">{{ form.address.administrative_area }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h3 class="caps-header">Hard Skills/Experience</h3>
            <div id="hard-skills">

            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-8">
            <h3 class="caps-header">Soft Skills</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    Foo<br />
                    Bar
                </div>
                <div class="col-xs-12 col-sm-6">
                    Foo<br />
                    Bar
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="caps-header">Desired Certifications</h3>
            Foo
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="caps-header">Years of Experience</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {{ form.years_experience }}
                </div>
                <div class="col-xs-12 col-sm-8">
                    {{ form.background_check }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="caps-header">Pay</h3>
            Foo
        </div>
    </div>
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    {{ form.actions.submit }}
</form>
