.job-entity-view {
  .field--name-field-hard-skills,
  .field--name-field-soft-skills {
    .field--items .field--item {
      display: block;
      float: left;
      clear: both;
      border-radius: 2px;
      background-image: linear-gradient(to bottom, rgba(18, 17, 17, 0), #353131), linear-gradient(to bottom, #474542, #474542);
      padding: 4px 6px;
      text-transform: uppercase;
      font-size: 11px;
      margin-bottom: 5px;
    }
    &:after {
      .cf;
    }
  }
  .field--name-field-external-application-url {
    a {
      color: #fff;
    }
  }
  .field {
    margin-bottom: 30px;
  }
  .field--label {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #949494;
    margin-bottom: 10px;
  }
  .field--name-field-certifications,
  .field--name-field-required-certifications {
    .field--items .field--item {
      display: block;
      float: left;
      border-radius: 2px;
      background-image: linear-gradient(to bottom, rgba(18, 17, 17, 0), #353131), linear-gradient(to bottom, #474542, #474542);
      padding: 6px 8px;
      font-size: 11px;
      margin: 0 5px 5px 0;
    }
    &:after {
      .cf;
    }
  }
  .field--name-field-background-check,
  .field--name-field-years-of-experience,
  .field--name-field-salary-range {
    .field--item {
      font-size: 18px;
    }
  }
}

