// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/bootstrap-select";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  font-family: @font-family-sans-serif;
}

nav {
  border-color: none;
  &:before {
    content: none;
  }
  .nav {
    &:before {
      content: none;
    }
    .open > a,
    .open > a:hover,
    .open > a:focus {
      background-color: inherit;
      border-color: inherit;
    }
    > li > a {
      position: inherit;
      display: inherit;
      color: #fff;
      padding: 5px 10px;
      line-height: 1;
      text-transform: uppercase;
      &:hover, &:focus {
        background: none;
        text-decoration: none;
      }
      .glyphicon {
        margin-right: 5px;
      }
    }
    .dropdown-menu > li > a {
      padding: 5px 10px;
      .glyphicon {
        margin-right: 5px;
      }
    }
  }
}

.cf {
  content: "";
  display: table;
  clear: both;
  zoom: 1;
}

img {
  max-width: 100%;
  height: auto !important;
}

.margin-top-15 { margin-top: 15px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-45 { margin-top: 45px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-45 { margin-bottom: 45px; }
.max-width-600 { max-width: 600px; margin: 0 auto }
.max-width-780 { max-width: 780px; margin: 0 auto }
.max-width-960 { max-width: 960px; margin: 0 auto }

.btn {
  border-radius: 20px;
  font-size: 12px;
  padding: 8px 34px;
  transition: all .2s;
  text-transform: uppercase;
  font-weight: 500;
  height: 30px;
  line-height: 1;
  max-width: 100%;
  &.btn-success {
    border: 1px solid @orange;
    background: none;
    color: #fff;
    &:hover, &:focus, &:disabled {
      background: @orange;
      color: #fff;
    }
  }
  &.btn-primary {
    border: none;
    background: @orange;
    color: #fff;
    &:hover, &:focus {
      background: darken(@orange, 10%);
      color: #fff;
    }
  }
  &.btn-primary-outline {
    border: 1px solid @orange;
    color: #fff;
    background: none;
    &:hover, &:focus {
      background: none;
      border: 1px solid #fff;
      color: #fff;
    }
  }
  &.btn-white-outline {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    &:hover, &:focus {
      background: none;
      border: 1px solid #fff;
      color: #fff;
    }
  }
  &.btn-white-orange {
    color: @orange;
    background: rgba(255,255,255,1);
    border: none;
    &:hover, &:focus {
      background: rgba(255,255,255,.85);
      color: @orange;
    }
  }
  &.btn-white-primary {
    color: #1cb5f8;
    background: #fff;
    border: 1px solid #fff;
    &:hover, &:focus {
      background: rgba(255,255,255,.85);
      color: #1cb5f8;
      border: 1px solid rgba(255,255,255,.85);
    }
  }
  &.btn-primary-blue {
    border: none !important;
    color: #fff;
    background: #1cb5f8;
    &:hover, &:focus {
      background: darken(#1cb5f8, 10%);
      color: #fff;
    }
  }
  &.btn-primary-blue {
    border: none !important;
    color: #fff;
    background: #1cb5f8;
    &:hover, &:focus {
      background: darken(#1cb5f8, 10%);
      color: #fff;
    }
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.btn-arrow-left {
    &:before {
      content: "\e257";
      .glyphicon;
      position: relative;
      left: -2px;
      top: -1px;
      vertical-align: middle;
    }
  }
  &.btn-arrow-right {
    &:after {
      content: "\e258";
      .glyphicon;
      position: relative;
      left: -2px;
      top: -1px;
      vertical-align: middle;
    }
  }
}

.btn-lightning {
  width: 100%;
  &:before {
    content: "\e162";
    .glyphicon;
    margin-right: 5px;
  }
}

.bg-photo {
  background-color: #767676;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#page-content {
  position: relative;
  padding-top: 90px;
  &.has-jumbotron {
    padding-top: 0;
  }
}

// Main body styles
body {
  background:#002309;
  color:#FFF;
  margin-top:0;
  @media (min-width: 768px) {
    margin-top:0;
  }
  #header-content {
    padding-top:10px;
    @media (min-width: 768px) {
      min-height:800px;
      padding-top:30px;
    }
  }
  @media (max-width: @screen-xs-max) { // this is literally the most annoying thing ever, todo remove this later
    .toolbar-tab {
      display: none !important;
    }
  }
}

.main-container {
  padding-bottom:15px;
  min-height: 400px;
  @media (min-width: 768px) {
    padding-bottom:45px;
  }
}


.select-wrapper {
  &.has-selectpicker {
    &:after {
      content: none;
    }
  }
}

// Footer styles
.footer {
  margin-top: 0;
  background:#000;
  color: #9c9c9c;
  padding: 0;
  a {
    color: #9c9c9c;
    transition: color .2s;
    &:hover {
      color: #cbcbcb;
    }
  }
  .row > div {
    border-left: 1px solid #9c9c9c;
  }
  .social-icons {
    margin-bottom: 30px;
    display: table;
    width: 260px;
    .social-icon {
      display: table-cell;
      font-size: 30px;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .nav {
    .caret {
      display: none;
    }
    > li {
      margin: 0 0 15px;
      line-height: 1;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        padding: 0;
        &.active-trail,
        &.is-active {
          background: none;
        }
      }
      > a {
        font-weight: 500;
        &:hover,
        &:focus {
          background: none;
        }
      }
      .dropdown-menu {
        display: block;
        background: none;
        padding: 0;
        margin: 0;
        position: relative;
        float: none;
        margin-top: 8px;
        z-index: 1;
        li {
          margin: 0 0 8px 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          font-size: 12px;
          color: #9c9c9c;
          &:hover {
            color: #cbcbcb !important;
          }
        }
        a:hover,
        a:focus {
          background-color: inherit;
          color: #9c9c9c;
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    padding: 20px;
    .social-icons {
      width: 100%;
    }
    .row > div {
      margin-bottom: 20px;
    }
  }
  .highlighted-footer {
    .background-mixin();
  }
  .footer-main {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

// Homepage styles
.path-frontpage {
  #navbar {
    margin: 0;
  }
  .main-container {
    .bg-photo;
    height: 620px;
    background-image: url('../images/homepage-background.jpg');
  }
  #homepage-search-box {
    margin: 150px auto 0;
    width: 540px;
    @media (max-width: @screen-xs-max) {
      width: 90%;
      max-width: 100%;
      margin-top: 50px;
      height: 500px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .tab-pane {
      height: 195px;
      &#post_a_job {
        position: relative;
        .employers-link {
          position: absolute;
          bottom: 3px;
          left: 0;
          width: 100%;
        }
      }
      @media (max-width: @screen-xs-max) {
        height: auto;
        &#post_a_job {
          .employers-link {
            position: static;
          }
        }
      }
    }
    .nav-tabs {
      background: #000;
      border:none;
      li {
        width:50%;

        &:hover a {
          color: @light-orange;
        }

        &.active {
          a {
            color: #fff;
            background-color: @light-orange;
          }
        }

        a {
          border: none;
          text-align: center;
          padding: 8px 0 4px;
          color: #fff;
          font-weight: bold;
          background-color: #000;
          margin: 0;
        }
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
          font-weight:500;
        }
      }
    }
    .tab-content {
      background: @light-orange; /* Old browsers */
      background: -moz-linear-gradient(top, @light-orange 0%, #ff5500 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, @light-orange 0%,#ff5500 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, @light-orange 0%,#ff5500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@light-orange', endColorstr='#ff5500',GradientType=0 ); /* IE6-9 */
      padding: 30px;
      h2 {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 22px;
        font-weight: 500;
      }
    }
    .form-submit {
      display: block;
      margin: 0 auto;
      background: rgba(255,255,255,.8);
      color: @orange;
      border-radius:25px;
      padding: 10px 60px;
      border:none;
      font-weight: 500;
      font-size: 16px;
      transition: all .2s;
      height: auto;
      &:hover {
        background: rgba(255,255,255,.9);
      }
    }
    .form-submit.employers-link {
      display:inline-block;
    }
  }
  .content-bottom {
    margin-top: -45px;
  }
}

.content-bottom {
  clear: both;
  display: block;
}

// Employers page styles
.path-employers {
  .view-employer-signup {
    .view-content {
      margin: 50px -30px;

      .views-row {
        a {
          display: inline-block;
          margin-bottom: 30px;
          overflow: hidden;

          &:focus,
          &:hover {
            text-decoration: none;
          }
        }
      }

      h2 {
        z-index: 10;
        color: #fff;
        padding: 0 10px;
        text-shadow: 1px 1px rgba(0, 0, 0, .4);;
      }
    }
  }

  #employers-page-content {
    .payment-description {
      max-width: 100%;
      text-align: center;
    }
    @media (max-width: @screen-xs-max) {
      padding: 50px 0;

      button {
        margin-bottom: 10px;
      }
    }

    h2 {
      margin-top: 30px;
    }
    p {
      margin-top:0;
      margin-bottom:30px;
    }
    #get-started {
      width:300px;
      margin:0 auto;
    }

    .btn {
      &.btn-primary,
      &.btn-secondary {
        width: 100%;
      }
    }

    .employer-linkedin .btn-group {
      width: 100%;

      button {
        border: none;

        &:hover {
          background-color: #188cbe;
        }
      }

      button,
      .dropdown-menu {
        color: white;
        background-color: @lightning-blue;
        width: 100%;


        .dropdown-item {
          padding: 10px;
          width: 100%;

          &:hover {
            background-color: @blue;
          }
        }

      }

      a {
        display: block;
        color: white;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.linkedin-register {
  background: #127ab3;
  color: #fff;
  display: inline-block;
  margin: 0 0 30px;
  .social-icon {
    font-size: 20px;
    line-height: 14px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0 -5px;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: darken(#127ab3, 10%);
  }
}

#find-a-job-form,
#employer-signup-form {
  .bootstrap-select {
    background: none;
  }
  .form-control {
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
  .bootstrap-select {
    button {
      background: transparent;
      border-radius: 0;
      color: #fff;
    }
  }
  .form-submit {
    width: 100%;
  }
}

#find-a-job-form {
  input,
  .bootstrap-select .btn {
    &:hover,
    &:focus {
      background: rgba(255,255,255,.1);
      border: 1px solid rgba(255,255,255,.8);
    }
  }
}

.path-jobs {
  #find-a-job-form {
    .form-submit {
      width: auto;
    }
  }

  #block-jobsearchheaderblock {
    .search-within {
      line-height: 2.5;
      text-align: center;
    }

    .form-submit {
      width: 100%;
      background: white;
      padding: 8px 34px;
      border-radius: 20px;
      color: @orange;
      font-weight: 600;
      &:hover {
        opacity: 1;
      }
    }
  }
}


#employer-signup-form {
  input,
  .bootstrap-select {
    &:hover,
    &:focus {
      background: #383838;
    }
  }
}

// Validate email page
#validate-email {
  width:300px;
  margin:0 auto;
  p {
    margin-bottom:20px;
  }
  .btn {
    width: 100%;
    text-transform: uppercase;
  }
}

.jumbotron {
  padding: 0;
  .jumbotron-background {
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    &:after {
      content: "";
      background: #000;
      opacity: .1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media (max-width: @screen-xs-max) {
      padding-bottom: 50%;
    }
  }
}

.main-content {
  position: relative;
  z-index: 1;
  h1.page-title {
    margin: 0 0 15px;
  }
}

.article {
  &.teaser {
    display: block;
    height: 300px;
    position: relative;
    &:before {
      content: "";
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
      opacity: .3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      transition: all .2s;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
    h2 {
      position: absolute;
      left: 20px;
      bottom: 20px;
      color: #fff;
      font-size: 24px;
      z-index: 2;
      margin: 0;
      padding: 0;
    }
  }
}

.view-blog-posts {
  .article {
    margin-bottom: 30px;
  }
}

.has-jumbotron {
  .jumbotron {
    margin-bottom: -90px;
    @media (max-width: @screen-sm-max) {
      margin-bottom: -80px;
    }
    @media (max-width: @screen-sm-max) {
      margin-bottom: -60px;
    }
  }
}

.has-jumbotron,
.page-node-type-article,
.page-node-type-page {
  .main-content {
    background: #000;
    padding: 60px;
  }
  @media (max-width: @screen-sm-max) {
    .main-content {
      padding: 30px;
    }
  }
}

.control-label {
  font-size: 18px;
  font-weight: 500;
  color: #949494;
  margin-bottom: 5px;
}

.panel {
  background: none;
  border: none;
  .panel-heading {
    padding: 0;
    background: none;
    color: #fff;
    border: none;
    .panel-title {
      margin: 0;
      padding: 0;
      .control-label;
    }
  }
  .panel-body {
    padding: 0;
  }
}

fieldset {
  legend {
    .control-label;
    border: none;
  }
}

.form-control {
  border-radius: 2px;
  box-shadow: none;
  background: none;
  border: 1px solid #ddd;
  color: #fff;
  &:hover, &:focus {
    background: rgba(244, 244, 244, 0.1);
  }
  &:disabled {
    opacity: .7;
    background: none;
  }
  &.form-select {
    option {
      color: @text-color;
    }
    optgroup {
      color: #9c9c9c;
    }
  }
}

.form-type-checkbox,
.form-type-radio {
  label {
    font-size: 14px;
    color: #fff;
  }
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    .transition(240ms);
  }
  &:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: @gray-lighter;
    .scale(0);
  }
  &:after {
    position: relative;
    top: -3px;
    border: 1px solid @gray-lighter;
  }
  &:checked:before {
    .scale(0.5);
  }
  &:disabled:checked:before {
    background-color: @gray;
  }
  &:checked:after {
    border-color: @gray-lighter;
  }
  &:disabled:after,
  &:disabled:checked:after {
    border-color: @gray;
  }
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: -3px;
  &:focus {
    outline: none;
  }
  &:focus:after {
    border-color: @gray-lighter;
  }
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-right: 5px;
    border: 1px solid @gray-lighter;
    border-radius: 2px;
    .transition(240ms);
  }
  &:checked:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid @gray-lighter;
    border-top-width: 0;
    border-left-width: 0;
    .rotate(45deg);
  }
  &:disabled:after {
    border-color: @gray;
  }
  &:disabled:checked:after {
    background-color: @gray;
    border-color: transparent;
  }
  &.checkbox-circle {
    position: relative;
    z-index: 2;
    &:focus:after {
      border-color: @orange;
    }
    &:after {
      border: 1px solid @orange;
      border-radius: 50%;
    }
    &:checked:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      width: 12px;
      height: 12px;
      border: none;
      background: @orange;
      border-radius: 50%;
    }
  }
}

/* Change Autocomplete styles in Chrome*/
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-required:after {
  background-image: none;
  content: "*";
  display: inline-block;
  line-height: 1;
  height: auto;
  width: auto;
}

/* Add payment method */
#edit-payment-information-add-payment-method-payment-details-number,
#edit-payment-information-add-payment-method-payment-details-expiration-month,
#edit-payment-information-add-payment-method-payment-details-expiration-year,
#edit-payment-information-add-payment-method-payment-details-cvv {
  label {

    &:after {
      background-image: none;
      content: "*";
      display: inline-block;
      line-height: 1;
      height: auto;
      width: auto;
    }
  }
}

.select-wrapper::after {
  color: #fff;
}

.modal {
  z-index: 1041 !important;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.path-post-job {
  &.modal-open {
    .dialog-off-canvas-main-canvas {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
  }

  #job-post-header-block {
    .card-meta {
      display: none;
    }
  }

  .modal-dialog {
    .modal-content {
      background: #1cb5f8;
      border-radius: 0;
      padding: 20px 70px;
      @media (max-width: @screen-xs-max) {
        padding: 20px;
      }
    }
    .modal-header {
      border: none;
      padding-bottom: 0;
    }
    .close {
      color: #fff;
      font-weight: 300;
      opacity: 1;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .modal-actions {
      margin-top: 30px;
      .btn {
        margin-right: 15px;
        height: 30px;
        padding: 8px 30px;
        line-height: 1;
      }
    }
    .address {
      margin: 0;
      .country {
        display: none; // remove this in future when we have more than the US
      }
    }
    .layout__region--content {
      padding-left: 10px;
      border-left: 1px solid #fff;
      margin-left: 1px;
      font-size: 18px;
      padding-bottom: 0;
      margin: 15px 0 15px 1px;
      @media (max-width: @screen-xs-max) {
        font-size: 14px;
      }
    }
    .field--label-inline {
      .field--label {
        font-weight: 300;
        display: inline-block;
        vertical-align: top;
      }
      .field--item {
        font-weight: 500;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  // Header.
  #job-post-header-block {
    .content {
      font-size: 1.5em;
      padding-bottom: 20px;
    }

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }

    .steps {
      position:absolute;
      left:0;
      right:0;
      text-align: center;
      border-top: 1px solid white;

      &.step-1 {
        background: -moz-linear-gradient(left, rgba(255,255,255,0.45) 15%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.45) 15%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0.45) 15%,rgba(255,255,255,0) 100%);
      }

      &.step-2 {
        background: -moz-linear-gradient(left, rgba(255,255,255,0.45) 35%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.45) 35%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0.45) 35%,rgba(255,255,255,0) 100%);
      }

      &.step-3 {
        background: -moz-linear-gradient(left, rgba(255,255,255,0.45) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.45) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0.45) 70%,rgba(255,255,255,0) 100%);
      }

      &.step-4 {
        background-color: rgba(255,255,255,0.45);
      }
    }
  }

  #navbar {
    padding-bottom: 20px;
  }

}
/* Job Posting form */
.payment-description {
  max-width: 920px;
  margin: 0 auto;
  border: 1px solid @orange;
  font-size: 24px;
  font-weight: 600;
  padding: 50px;
  margin-bottom: 30px;
}

.job-posting-form {
  max-width: 920px;
  margin: 0 auto;
  section {
    margin-bottom: 20px;
  }
  .rj-payment {
    float: left;
  }
  .field--name-field-background-check {
    margin-top: 34px;
  }
  .field--name-field-salary-range {
    .panel-body {
      &:after {
        content: none; // gets rid of clearfix
      }
    }
  }
  .field--name-field-reveal-payment {
    margin: 4px 0 0 30px;
    float: left;
  }
  .field--name-field-required-certifications {
    display: none;
  }
  .job-entity-view .field--name-field-required-certifications {
    display: block;
  }
  .field--name-field-location {
    .panel-heading a {
      pointer-events: none;
    }
    .form-wrapper {
      margin: 0;
    }
    .address-container-inline {
      margin: 0 -15px;
      &:after {
        .cf;
      }
    }
    .form-item-field-location-0-address-locality,
    .form-item-field-location-0-address-administrative-area {
      float: left;
      width: 50%;
      padding: 0 15px;
      margin: 0;
      label {
        display: none;
      }
    }
  }
  #edit-field-emphasis {
    option[disabled] {
      display: none;
    }
  }

  #edit-payment-information-payment-method {
    display: none;
  }

  #card-number,
  #expiration-month,
  #expiration-year,
  #cvv {
    border-radius: 2px;
    box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.06);
    background: none;
    color: #fff !important;
    border: 1px solid #cccccc;
    height: 34px;
    padding: 6px 12px;
    box-sizing: border-box;
    &.braintree-hosted-fields-focused {
      background: rgba(244, 244, 244, 0.1);
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    &.braintree-hosted-fields-invalid {
      border-color: #dc3545;
    }

    &.braintree-hosted-fields-valid {
      border-color: limegreen;
    }
  }
  .braintree-form {
    .credit-card-form__expiration,
    .form-item-payment-information-add-payment-method-payment-details-cvv {
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
    }
    .credit-card-form__expiration {
      margin-right: 1em;
    }
    .credit-card-form__divider {
      display: none;
    }
  }
  .suggested-description {
    margin-bottom: 15px;
    #revert-description {
      display: none;
    }
  }
  .btn {
    height: 30px;
    padding: 8px 30px;
    line-height: 11px;
    font-size: 11px;
    text-transform: uppercase;
  }
  .btn-prev {
    border: 1px solid @orange;
    color: @orange;
    background: none;
    float: left;
    line-height: 1;
    &:hover, &:focus {
      border: 1px solid #fff;
      background: none;
      color: #fff;
    }
  }
  .form-actions {
    text-align: center;
    margin-top: 45px;
    .btn-primary,
    .form-submit {
      min-width: 350px;
      line-height: 1;
      border: 1px solid @orange;
      &:hover {
        border: 1px solid darken(@orange, 10%);
      }
    }
  }
}

.employer-complete-profile-form {
  max-width: 600px;
  margin: 0 auto;
  .address-container-inline {
    margin: 0 -10px;
    &:after {
      .cf;
    }
    > .form-item {
      padding: 0 10px;
      margin-right: 0;
      float: left;
      width: 33.3333%;
      display: block;
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }
    }
  }
  .form-submit {
    margin: 30px auto 0;
    display: block;
  }
}

.field--widget-rj-inline-entity-form {
  .form-item, .form-group {
    margin: 0;
  }
  select {
    margin-bottom: 5px;
  }
  .alert,
  .tabledrag-changed-warning {
    display: none !important;
  }
  .btn:not(.dropdown-toggle) {
    border-radius: 2px;
    font-size: 10px;
    height: 28px;
    padding: 5px 30px;
    text-transform: uppercase;
    &.btn-default {
      .btn.btn-white-outline;
    }
  }
  .bootstrap-select {
    height: auto;
    .btn.dropdown-toggle {
      border-radius: 2px;
      box-shadow: none;
      background: none;
      border: 1px solid #ddd;
      height: 34px;
      color: #fff;
      font-size: 14px;
      text-transform: none;
      padding: 5px 10px;
      &:hover, &:focus {
        background: rgba(244, 244, 244, 0.1);
      }
    }
    &.open {
      .btn {
        //display: none;
      }
    }
    > .dropdown-menu {
      position: static;
      background: rgba(244, 244, 244, 0.1);
      border: none;
      border-radius: 0;
      padding: 0;
      width: 100%;
      margin-top: -1px;
      .dropdown-menu {
        background: none;
        border: 1px solid #ddd;
        border-top: none;
        margin: 0;
        li {
          a {
            color: #fff;
            &:hover,
            &:focus {
              background: none;
            }
          }
        }
      }
    }
  }
  &.field--name-field-certifications {
    .ief-entity-table {
      margin: 0;
    }
    .panel .ief-entity-table tr.ief-row-entity {
      float: none;
      clear: none;
      display: inline-flex;
      padding-left: 5px;
      &:before {
        content: none;
      }
      td {
        .tabledrag-handle,
        .ief-tabledrag-handle {
          display: none !important;
        }
      }
    }
  }
}

#messages-vue {
  @media (max-width: @screen-xs-max) {
    min-height: 300px;
    #messages-jobs,
    #messages-apps {
      margin: 0 -15px;
    }
    .messages-loading,
    .messages-empty {
      text-align: center;
      padding: 15px;
      margin: 0 auto;
    }
  }
  .scrolling-messages-container {
    @media (min-width: @screen-sm-min) {
      max-height: 450px;
      overflow: auto;
    }
  }
  form {
    .submit-container {
      margin-top: 15px;
      text-align: right;
    }
    .file-listing {
      display: flex;
      align-items: center;
      margin-top: 15px;
      .file-listing-remove {
        font-size: 10px;
        text-transform: uppercase;
        cursor: pointer;
        color: @blue;
      }
      img {
        max-width: 100px;
        max-height: 100px;
      }
      .file-listing-name {
        word-break: break-all;
        padding: 0 10px;
        flex: 1;
      }
    }
  }
  textarea {
    height: 180px;
    border-radius: 2px;
    border: solid 1px #ffffff;
    background-color: rgba(244, 244, 244, 0.1);
  }
  #messages-thread {
    .scroll-content.scroll-scrolly_visible {
      padding-right: 15px;
    }
  }
  #messages-jobs,
  #messages-apps {
    @media (max-width: @screen-xs-max) {
      &.active {
        display: none;
      }
    }
  }
  .message-alert {
    width: 75%;
    padding: 8px 12px;
    border-radius: 8px;
    background: #4e4e4e;
  }
  .message {
    margin-bottom: 15px;
    .message-meta {
      padding-left: 12px;
      font-size: 10px;
      font-weight: 300;
      margin-bottom: 4px;
      strong {
        font-weight: 800;
      }
    }
    .message-bubble {
      overflow: hidden;
      width: 100%;
      padding: 8px 12px;
      border-radius: 8px;
      .message-body {
        white-space: pre-line;
      }
      .file {
        span {
          background: rgba(255,255,255,.6);
          border: none;
        }
        .file-link a {
          word-break: all;
        }
      }
    }
    &.my-message {
      padding-right: 25%;
      .message-bubble {
        background: @blue;
        border-bottom-left-radius: 0;
      }
    }
    &.recipient-message {
      padding-left: 25%;
      .message-bubble {
        background: #736f6a;
        border-bottom-right-radius: 0;
      }
    }
  }
  .message-drilldown {
    padding: 10px 60px 10px 12px;
    border-top: 1px solid #4f4f4f;
    color: #fff;
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    &.has-new {
      border-right: 4px solid @brand-primary;
    }
    &.active {
      border: none;
      background: #4f4f4f;
    }
    .message-drilldown-location {
      margin-top: 15px;
      font-weight: 300;
    }
    .message-drilldown-title {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .message-drilldown-new-count {
      position: absolute;
      top: 10px;
      right: 10px;
      font-weight: 500;
    }
    .message-drilldown-company,
    .message-drilldown-applicant-title {
      font-size: 10px;
      text-transform: uppercase;
    }
    .message-drilldown-snippet {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      margin-top: 15px;
    }
  }
}

#messages-breadcrumb {
  font-size: 22px;
  margin: 15px 0 0;
  clear: both;

  a {
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .messages-breadcrumb-item {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    &:before {
      content: "\e258";
      .glyphicon;
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
    &:first-child {
      font-weight: 300;
      &:before {
        content: none;
      }
    }
  }
}

/* Begin my jobs dashboard */
.background-mixin() {
  background: #f5a623;
  background: -moz-linear-gradient(top, #f5a623 0%, #ec8503 100%);
  background: -webkit-linear-gradient(top, #f5a623 0%, #ec8503 100%);
  background: linear-gradient(to bottom, #f5a623 0%, #ec8503 100%);
}
.background-mixin-hover() {
  background: darken(#f5a623, 5%);
  background: -moz-linear-gradient(top, darken(#f5a623, 5%) 0%, darken(#ec8503, 5%) 100%);
  background: -webkit-linear-gradient(top, darken(#f5a623, 5%) 0%, darken(#ec8503, 5%) 100%);
  background: linear-gradient(to bottom, darken(#f5a623, 5%) 0%, darken(#ec8503, 5%) 100%);
}
.background-mixin-blue {
  background: #1cb5f8;
  background: -moz-linear-gradient(top, #1cb5f8 0%, #1cb5f8 100%);
  background: -webkit-linear-gradient(top, #1cb5f8 0%,#1cb5f8 100%);
  background: linear-gradient(to bottom, #1cb5f8 0%,#1cb5f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cb5f8', endColorstr='#1cb5f8',GradientType=0 );
}
.view-header-mixin() {
  font-family: @font-family-sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #949494;
}
.background-wrapper-black-mixin(){
  background: #000;
  background: -moz-linear-gradient(top, #121212 0%, #000 100%);
  background: -webkit-linear-gradient(top, #121212 0%, #000 100%);
  background: linear-gradient(to bottom, #121212 0%, #000 100%);
}
.background-wrapper-gray-mixin {
  background: linear-gradient(to bottom, #736f6a, #736f6a), linear-gradient(to bottom, rgba(18, 17, 17, 0), #353131);
}
.background-wrapper-light-gray-mixin {
  background: #cacaca;
  background: -moz-linear-gradient(top,  #cacaca 0%, #b8b8b8 100%);
  background: -webkit-linear-gradient(top,  #cacaca 0%,#b8b8b8 100%);
  background: linear-gradient(to bottom,  #cacaca 0%,#b8b8b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#b8b8b8',GradientType=0 );
}
.job-wrapper-black-mixin() {
  .job-wrapper {
    border-radius: 2px;
    .background-wrapper-black-mixin();
    &.job-gray{
      .background-wrapper-gray-mixin();
    }
    &.job-transparent {
      background: transparent;
    }
    &.external{
      @media screen and (max-width: @screen-xs-max) {
        border-width: 5px;
        border-style: solid;
        border-color: #c1c1c1;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        padding: 8px;
      }
    }
    display: flex;
    margin-bottom: 20px;
    @media screen and (max-width: @screen-xs-max) {
      padding: 10px;
      align-items: center;
    }
    .first-column {
      padding: 30px;
      @media screen and (max-width: @screen-xs-max) {
        padding: 0;
      }
      .job-title {
        font-family: @font-family-sans-serif;
        font-size: 14px;
        &.apply {
          font-size: 24px;
        }
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f4f4f4;
      }
      .job-company {
        font-family: @font-family-sans-serif;
        font-size: 11px;
        &.apply {
          font-size: 14px;
        }
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f4f4f4;
      }
      .job-address {
        font-family: @font-family-sans-serif;
        font-size: 11px;
        &.apply {
          font-size: 14px;
        }
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f4f4f4;
      }
    }
    .second-column {
      display: flex;
      align-items: center;
      &.apply {
        justify-content: center;
        .job-created {
          font-family: @font-family-sans-serif;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
        }
      }

    }
    .second-column-mobile {
      .job-created {
        text-align: right;
        flex-basis: 100%;
        font-family: @font-family-sans-serif;
        font-size: 10px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f4f4f4;
      }
      .job-applicants-count {
        font-family: @font-family-sans-serif;
        text-align: right;
        text-transform: uppercase;
        display: block;
        flex-basis: 100%;
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f4f4f4;
      }
    }
    .third-column {
      display: flex;
      align-items: center;
      justify-content: center;
      &.apply {
        justify-content: flex-end;
      }
      &.external-apply {
        background: linear-gradient(to bottom, #c1c1c1, #c1c1c1), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(132, 132, 132, 0.5));
      }
      .job-applicants-count {
        font-family: @font-family-sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f4f4f4;
        text-transform: uppercase;
        &.apply {
          font-size: 14px;
          color: #36b4fe;
          border-radius: 15px;
          background-color: #f4f4f4;
          padding: 6px 25px;
          opacity: 0.8;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .view-header {
    .view-header-mixin();
  }
}
.path-my-jobs{
  background-color: @gray-background;
  #page-content{
    padding-top: 0;
  }
  .page-header-title{
    padding-left: 0;
    padding-right: 0;
    h1{
      opacity: 0.8;
      font-family: @font-family-sans-serif;
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
  }
  .title-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .page-header-link {
      opacity: 0.8;
      border-radius: 15px;
      background-color: #f4f4f4;
      .manage-notifications-link {
        text-transform: uppercase;
        font-size: 12px;
        color: #f5a623;
      }
    }
  }
}
/* End My jobs dashboard */
/* Begin Seeker jobs dashboard */
.path-job {

  &.is_seeker {
    #navbar {
      .background-mixin-blue;
    }
  }

  #page-content {
    padding-top: 0;
  }
  #navbar {
    position: static;
    &.nav-apply {
      .background-mixin-blue;
      padding-bottom: 0;
    }
    &.nav-profile {
      background: #0c0c0c;
    }
    .seeker-job-form {
      margin-top: 40px;
      form {
        .row-search-form {
          display: inline;
          @media screen and (min-width: @screen-sm-min) {
            display: flex;
          }
          .form-item-save-results {
            label {
              font-family: @font-family-sans-serif;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #ffffff;
              input {
                background-color: transparent;
                border-radius: 50%;
                vertical-align: middle;
                border: 1px solid #fff;
                -webkit-appearance: none;
                appearance: none;
                -moz-appearance: none;
                outline: none;
                cursor: pointer;
                width: 1.1em;
                height: 1.1em;
                &:checked {
                  background-color: white;
                }
                &::-ms-expand {
                  display: none;
                }
              }
            }
          }
          button {
            opacity: 0.8;
            border-radius: 20px;
            color: #e88600;
            text-transform: uppercase;
            width: 100%;
          }
        }
      }
    }
  }
  .main-container {
    background-color: @gray-background;
    .content-wrapper {
      margin-top: 63px;
      .recently-applied-view {
        .view-header {
         .view-header-mixin();
        }
        .job-wrapper {
          margin-bottom: 20px;
          border-radius: 2px;
          box-shadow: 0 9px 10px -5px rgba(8, 7, 7, 0.66);
          .background-wrapper-gray-mixin();
          padding: 15px;
          display: flex;
          @media screen and (max-width: @screen-xs-max){
            display: block;
          }
          align-items: center;
          font-family: @font-family-sans-serif;
          .job-title {
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f4f4f4;
            @media screen and (max-width: @screen-xs-max){
              font-size: 14px;
            }
          }

          .job-company {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f4f4f4;
            @media screen and (max-width: @screen-xs-max){
              font-size: 11px;
            }
          }

          .job-address {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f4f4f4;
            @media screen and (max-width: @screen-xs-max){
              font-size: 11px;
            }
          }

          .job-created {
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f4f4f4;
            @media screen and (max-width: @screen-xs-max){
              font-size: 11px;
              text-align: right;
            }
          }

          .job-applicants-count {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f4f4f4;
            text-transform: uppercase;
            @media screen and (max-width: @screen-xs-max){
              font-size: 11px;
              text-align: right;
            }
          }
        }
      }
    }
  }
  .promoted-search-view {
    .promoted-search-wrapper {
      border-radius: 2px;
      box-shadow: 0 9px 10px -5px rgba(8, 7, 7, 0.66);
      @media screen and (max-width: @screen-xs-max) {
        border-width: 5px;
        border-style: solid;
        border-image: linear-gradient( to bottom, #f5a623, #ec8503 ) 1;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        padding: 8px;
      }
      .background-wrapper-black-mixin();
      display: flex;
      .first-column {
        .job-title-company {
          padding: 45px;
          font-family: @font-family-sans-serif;
          font-size: 24px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
        }
      }
      .second-column {
        display: flex;
        align-items: center;
        justify-content: center;
        .background-mixin();
        a {
          font-family: @font-family-sans-serif;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    .view-header {
      .view-header-mixin();
    }
  }
  .saved-searches-view {
    .view-header {
      .view-header-mixin();
    }
    .searches-you-watch-wrapper {
      .background-wrapper-gray-mixin();
      border-radius: 2px;
      box-shadow: 0 9px 10px -5px rgba(8, 7, 7, 0.66);
      display: flex;
      margin-bottom: 30px;
      .first-column {
        padding: 10px;
        .job-title {
          font-family: @font-family-sans-serif;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
        }
        .job-company {
          font-family: @font-family-sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
        }
      }
      .second-column {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        opacity: 0.8;
        a {
          color: #f4f4f4;
          font-size: 30px;
        }
      }

    }
    .view-footer {
      .manage-notifications-link {
        text-align: center;
        a {
          .background-mixin();
          border-radius: 15px;
          padding: 6px 40px;
          color: #f4f4f4f4;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
  .recently-viewed-jobs {
    .job-wrapper-black-mixin();
  }
  .search-result-wrapper {
    .job-wrapper-black-mixin();
  }
  .page-content-apply{
    .job-wrapper-black-mixin();
    .custom-job-apply-block{
      border-top: 1px solid #f4f4f4;
      margin-top: 40px;
    }
    .identity-form-container {
      width: 355px;
      margin: 40px auto 0;
      .labels-mixin(){
        font-family: @font-family-sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #949494;
      }
      .user-step-1-job-applicant-form {
        .form-actions {
          text-align: center;
          button {
            width: 355px;
            height: 31px;
            border: 0;
            border-radius: 15.5px;
            background-image: linear-gradient(to bottom, #1cb5f8, #1cb5f8), linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
            font-family: @font-family-sans-serif;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f4f4f4;
            text-transform: uppercase;
          }
        }
      }
      .form-confirm {
        text-align: center;
        button {
          width: 355px;
          height: 30px;
          border-radius: 15px;
          background-image: linear-gradient(to bottom, #1cb5f8, #1cb5f8), linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
          text-transform: uppercase;
          padding: 0;
        }
      }
      .social-auth-block {
        margin-top: 30px;
      }
      .signin-link-wrapper {
        margin-top: 15px;
        text-align: center;
        label {
          .labels-mixin();
        }
        a {
          &:hover,
          &:active {
            outline: 0;
            text-decoration: none;
          }
        }
        .signin-link {
          color:#FFF;
          width: 355px;
          height: 30px;
          border-radius: 15px;
          background-image: linear-gradient(to bottom, #fd9c21, #fd9c21), linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top:5px;
          font-family: @font-family-sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
      form {
        .linkedin-link-wrapper{
          margin-top: 30px;
          label {
            .labels-mixin();
          }
          .linkedin-link {
            opacity: 0.8;
            border-radius: 15px;
            background-color: #f4f4f4;
            width: 355px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              font-family: @font-family-sans-serif;
              font-size: 14px;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #726e6e;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
        }
      }
      .job-apply-complete-wrapper {
        .job-apply-complete-title {
          font-family: @font-family-sans-serif;
          font-size: 24px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #f4f4f4;
        }
        .job-apply-complete-text {
          font-family: @font-family-sans-serif;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: #f2f2f2;
        }
        .job-apply-complete-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 355px;
          height: 31px;
          border-radius: 15.5px;
          background-image: linear-gradient(to bottom, #fd9c21, #fd9c21), linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
          margin-top: 40px;
          a {
            font-family: @font-family-sans-serif;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #f4f4f4;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .page-content-profile {
    background: #0c0c0c;
    .main-container {
      background: #0c0c0c;
    }
  }
  .footer-profile {
    padding: 0;
    .highlited-footer-profile {
      padding: 30px 12px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      justify-content: center;
      .background-mixin();
      .region {
        @media screen and (min-width: @screen-sm-min) {
          max-width: 45%;
        }
        form {
          display: flex;
          align-items: flex-end;
          position: relative;
          &:first-child {
            label {
              font-family: @font-family-sans-serif;
              font-size: 18px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.33;
              letter-spacing: normal;
              text-align: center;
              color: #f2f2f2;
            }
            input {
              border-radius: 15.5px;
            }
          }
          .form-actions {
            position: absolute;
            right: -5%;
            bottom: 0;
            button {
              padding: 7.5px 45px;
              border-radius: 15.5px;
              background-color: #f0dfcb;
              border-color: #cccccc;
              text-transform: uppercase;
              font-family: @font-family-sans-serif;
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #eb9827;
            }
          }
        }
      }
    }
  }
}

/* Start Job Postings View */

.view-job-postings {
  .views-exposed-form {
    display:none;
  }
  .find-a-job-form {
    .form-item-title {
      width:300px;
      display:inline-block;
      margin:0 10px 0 0;
      position:relative;
      top:-1px;
      button {
        height:34px;
      }
      @media (max-width: @screen-xs-max) {
        width:100%;
        margin:0 0 10px 0;
      }
    }
    .form-item-location {
      width:200px;
      display:inline-block;
      margin:0 10px 0 0;
      @media (max-width: @screen-xs-max) {
        width:100%;
        margin:0 0 10px 0;
      }
    }
    .form-item-radius {
      width:80px;
      display:inline-block;
      margin:0 10px 0 0;
      @media (max-width: @screen-xs-max) {
        width:100%;
        margin:0 0 10px 0;
      }
    }
    .form-submit {
      display:inline-block!important;
      margin:0;
      position: relative;
      top: -2px;
      @media (max-width: @screen-xs-max) {
        width:100%;
        margin:0 0 10px 0;
      }
    }
  }
  a {
    color:#FFF;
    &:hover,
    &:active {
      outline: 0;
      text-decoration: none;
    }
  }
  .job-posting {
    margin-bottom:20px;
    background:#000;
    > div {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    h3 {
      margin:0 0 10px 0;
      font-size:16px;
    }
    .time-ago {
      text-align:center;
      height: 84px;
      vertical-align: middle;
      line-height: 84px;
      @media (max-width: @screen-xs-max) {
        height: auto;
        line-height: normal;
        padding-top:0;
      }
    }
    .apply {
      background:#31BBF8;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align:center;
      height: 114px;
      vertical-align: middle;
      line-height: 114px;
      @media (max-width: @screen-xs-max) {
        height: 50px;
        line-height: 50px;
      }
    }
    .apply-mobile {
      display:none;
      text-align:right;
      @media (max-width: @screen-xs-max) {
        display:block;
      }
      .time-ago-mobile {
        margin-top:30px;
        color:#f4f4f4;
      }
    }
  }
}

/* End Job Postings View */

.path-404-error {
  h1.page-title {
    display: none;
  }
  .main-content {
    background: none !important;
  }
  article[about="/404"] {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
    font-size: 16px;
    .btn {
      margin-top: 30px;
      width: 360px;
    }
  }
}

#block-jobapplyheaderblock {
  .card-section {
    &.card-title {
      width: 100%;
    }
    &.card-meta,
    &.card-cta {
      display: none;
    }
  }
}

.card-job-link {
  &:hover {
    text-decoration: none;
  }
}

.card {
  margin-bottom: 15px;
  display: flex;
  box-shadow: 0 9px 10px -5px rgba(8, 7, 7, 0.66);
  .background-wrapper-black-mixin();
  width: 100%;
  color: #fff;
  min-height: 150px;
  a {
    color: #fff;
  }
  &.card-header {
    min-height: 50px;
    background: none;
    box-shadow: none;
    .card-section {
      padding: 0;
    }
  }
  .card-section {
    padding: 20px;
    display: flex;
    align-items: center;
    &.card-title {
      width: 50%;
      .card-title-header {
        font-size: 24px;
        line-height: 1.2;
      }
      .card-title-subheader {
        margin-top: 15px;
      }
    }
    &.card-meta,
    &.card-flex-push {
      flex: 1;
    }
    &.card-cta {
      padding: 0;
      .card-cta-span,
      .card-cta-btn {
        display: flex;
        font-size: 18px;
        text-transform: uppercase;
        height: 100%;
        width: 260px;
        align-items: center;
        text-align: center;
        justify-content: center;
        &:hover {
          text-decoration: none;
          opacity: 1;
        }

        &.card-cta-btn-lightning-apply {
          .background-mixin-blue;
          &:before {
            content: "\e162";
            .glyphicon;
            margin-right: 5px;
          }
        }
        &.card-cta-btn-lightning-apply-small {
          &:before {
            content: "\e162";
            .glyphicon;
            margin-right: 5px;
          }
        }
        &.card-cta-btn-default {
          .background-mixin;
          &:hover {
            .background-mixin-hover;
          }
        }
        &.card-cta-btn-grey {
          .background-wrapper-light-gray-mixin;
        }
        &.card-cta-btn-small {
          display: inline-block;
          height: auto;
          width: auto;
          margin: 0 0 0 10px;
          font-size: 12px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
  .tabledrag-toggle-weight {
    display: none;
  }
  @media (max-width: @screen-xs-max) {
    .card-section {
      &.card-title {
        width: 60%;
      }
      &.card-meta {
        display: none;
      }
      &.card-cta {
        padding: 0;
        width: 40%;
        position: relative;
        .card-cta-span,
        .card-cta-btn {
          width: 100%;
          &.card-cta-btn-small {
            width: auto;
          }
          &.card-cta-btn,
          &.card-cta-btn-default {
            font-size: 14px;
          }
        }
      }
    }
    &.card-header {
      display: block;
      .card-section {
        &.card-title {
          width: 100%;
          display: block;
          margin-bottom: 15px;
          .card-title-header {
            font-size: 18px;
          }
        }
        &.card-cta {
          width: 100%;
          display: block;
          .btn {
            margin: 0 10px 0 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.field--widget-file-preview-widget {
  &:after {
    .cf;
  }
  .resume {
    margin-bottom: 30px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .button-full-orange;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        text-decoration: none;
      }
    }
  }
  label,
  .panel-heading {
    display: none;
  }
  .form-managed-file label {
    display: none;
  }
  .form-managed-file,
  .file-element {
    label {
      display: none;
    }
    .file {
      display: none;
    }
    select {
      font-size: 12px;
    }
    .btn {
      background: none !important;
      border: none !important;
    }
  }
  .form-item {
    margin: 0;
  }
  .image-item {
    float: left;
    margin: 0 15px 15px 0;
    width: 160px;
    .image-preview {
      border: 1px solid @orange;
      border-radius: 3px;
      overflow: hidden;
      height: 160px;
    }
    .image-meta {
      margin-top: 10px;
      button {
        width: 100%;
      }
    }
  }
  &.field--name-field-certifications {
    .image-item {
      .image-meta {
        select {
          margin-bottom: 8px;
        }
      }
    }
  }
  input[type="file"] {
    color: transparent;
    padding: 0;
    border: none;
    background: none !important;
    width: 160px;
    height: 160px;
    border: 1px solid @orange;
    display: inline;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    &:before {
      content: attr(data-message);
      color: #fff;
      display: block;
      outline: none;
      -webkit-user-select: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 12px;
      width: 160px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      font-weight: 300;
    }
    &:active {
      outline: 0;
    }
  }
  .help-block {
    display: none;
  }
  .help-text {
    margin-bottom: 10px;
    br, a[data-title="Upload requirements"] {
      display: none; // hacky but works for now
    }
  }
  &.field--name-field-profile-photo {
    .image-preview {
      border-radius: 50%;
    }
    input[type="file"] {
      border-radius: 50%;
      &:before {
        border-radius: 50%;
      }
    }
    @media (max-width: @screen-xs-max) {
      text-align: center;
      .image-item {
        float: none;
        margin: 0 auto;
      }
    }
  }
}

.user-step-1-job-applicant-form {
  width: 360px;
  margin: 0 auto;
}

.user-profile-job-applicant-form {
  .max-width-780;
  .form-group {
    margin-bottom: 30px;
    .form-group {
      margin: 0;
    }
  }
  .row1-second {
    margin: 0 -10px;
    > .form-wrapper {
      padding: 0 10px;
      &.field--name-field-first-name,
      &.field--name-field-last-name {
        width: 50%;
        float: left;
      }
    }
  }
  .field--name-field-first-name,
  .field--name-field-last-name,
  .field--name-field-profile-photo,
  .field--name-field-user-location,
  .field--name-field-profile-description {
    .control-label {
      display: none;
    }
  }
}

.help-block {
  color: #f2f2f2;
}

.path-user,
.page-content-apply {
  .region-content {
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
  }
  .form-actions .form-submit,
  .btn-primary {
    width: 100%;
  }
  .form-actions {
    margin-top: 25px;
  }
  .btn.registration-type {
    margin: 5px 0 15px;
  }
  .password-confirm {
    margin-top: 8px;
  }
  .messages__wrapper {
    .alert-success {
      padding: 0;
      border: none;
      color: #fff;
      background: none;
      .close {
        display: none;
      }
    }
  }
}

.messages__wrapper {
  margin-top: 30px;
}

.job-apply-complete-wrapper {
  width: 360px;
  margin: 0 auto;
}

.form-control::placeholder {
  color: #fff;
  opacity: 1;
}

.social-auth-block {
  text-align:center;
  border-top: 1px solid #777;
  margin-top: 15px;
  padding-top: 30px;
  .btn-linkedin {
    width: 100%;
  }
  h2 {
    margin-top:0;
    font-size:18px;
  }
}

#terms-privacy {
  text-align:right;
  @media (max-width: @screen-xs-max) {
    text-align:center;
  }
}
