/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path:  '../../../../libraries/bootstrap/fonts/';

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-xl:                  1600px;
@screen-xl-min:              @screen-xl;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-xl-desktop:          @screen-xl-min;

// So media queries don't overlap when required, provide a maximum
@screen-lg-max:              (@screen-xl-min - 1);

// X-Large screen / wide desktop
@container-xlarge-desktop:      (1540px + @grid-gutter-width);
//** For `@screen-xl-min` and up.
@container-xl:                 @container-xlarge-desktop;

// Bootstrap Select
@color-red-error: rgb(185, 74, 72);
@color-grey-arrow: rgba(204, 204, 204, 0.2);
@width-default: 220px; // 3 960px-grid columns
@zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

// Input
.generic-input {
  &:hover,
  &:focus {
    background: rgba(244, 244, 244, 0.1);
  }

  border-radius: 2px;
  box-shadow: none;
  background: none;
  border: 1px solid #ddd;
  color: #fff;
}

// Custom colors
@orange: #eb9827;
@light-orange: #f1a222;
@blue: #2cb6f5;
@lightning-blue: #1cb5f8;
@button-orange-border: #c76734;
@gray-background: #262524;
@white-gray: #f4f4f4;
@medium-grey: #949494;
@light-grey:  #f4f4f4;

// Gradients
.gradient-grey {
  background-image: linear-gradient(to bottom, #474542, #474542), linear-gradient(to bottom, rgba(18, 17, 17, 0), #353131);
}

.gradient-light-grey {
  background-image: linear-gradient(to bottom, #736f6a, #4f4e4d), linear-gradient(to bottom, rgba(18, 17, 17, 0), #353131);
}

.gradient-black {
  background-image: linear-gradient(to bottom, #121212 0%, #000 100%);
}

// Buttons
.button-orange-border {
  background-color: transparent;
  color: white;
  border: 2px solid @button-orange-border;

  &:hover {
    background-color: @button-orange-border;
  }
};

.button-full-orange {
  background-color: @orange;
  color: white;
  border: 2px solid @orange;

  &:hover {
    background-color: @button-orange-border;
    border: 2px solid @button-orange-border;
  }
};

.orange-link-button {
  text-align: center;
    a {
      border: none;
      display: block;
      font-weight: 500;
      line-height: 30px;
      max-width: 350px;
      height: 30px;
      color: #fff;
      margin: auto;
      border-radius: 15px;
      background: @orange;

      &:hover, &:focus {
        background: darken(@orange, 10%);
        text-decoration: none;
    }
  }
}

@font-family-sans-serif:  "Montserrat", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-family-condensed:  "Arial Narrow", Helvetica Neue, Helvetica, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;
