.webform-submission-form {
  max-width: 780px;
  margin: 0 auto;
  .webform-flexbox {
    margin: 0 -15px 30px;
    .webform-flex--container {
      margin: 0 15px;
    }
    @media (max-width: @screen-xs-max) {
      margin-bottom: 0;
    }
  }
  .webform-actions {
    text-align: center;
    margin-top: 45px;
    .webform-button--submit {
      width: 350px;
      max-width: 100%;
    }
  }
}

footer {
  padding: 0 0;
  .block-webform {
    .block-title {
      background: @gray-background;
      margin: 0;
      font-family: @font-family-sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #949494;
      padding-left: 60px;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      .references-form-inputs {
        max-width: 45%;
        margin-bottom: 45px;
        margin-top: 45px;
        @media (max-width: @screen-xs-max) {
          max-width: 100%;
        }
        .references-form-inputs-column1 {
          margin-bottom: 25px;
          label {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #f2f2f2;
          }
        }
        .references-form-inputs-column2 {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .input-container {
            opacity: .8;
            position: relative;
            .form-item {
              margin-bottom: 0;
              input {
                border-radius: 30px;
                border: 1px solid #fff;
                height: 30px;
                &::placeholder {
                  color: #fff;
                  opacity: 1;
                }
                &:-ms-input-placeholder {
                  color: #fff;
                }
                &::-ms-input-placeholder {
                  color: #fff;
                }
              }
            }
            button {
              position: absolute;
              top: 0;
              right: -3%;
              padding: 9px 45px;
              border-radius: 30px;
              background-color: #fff;
              border-color: #cccccc;
              text-transform: uppercase;
              color: #ea8a00;
              width: auto;
            }
          }
        }
      }
    }
  }
}