<section class="section-1 clearfix">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      {{ content.row1_first }}
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {{ content.row1_second }}
        </div>
        <div class="col-xs-12 col-sm-6">
          {{ content.row1_third }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-2 clearfix">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      {{ content.row2_first }}
    </div>
    <div class="col-xs-12 col-sm-7">
      {{ content.row2_second }}
    </div>
  </div>
</section>

<section class="section-3 clearfix">
  {{ content.row3 }}
</section>

<section class="section-4 clearfix">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      {{ content.row4_first }}
    </div>
    <div class="col-xs-12 col-sm-7">
      {{ content.row4_second }}
    </div>
  </div>
</section>

<section class="section-5 clearfix">
  {{ content.row5 }}
</section>
