<div class="job-entity-view">
  <div class="row row-1">
    <div class="col-xs-12 col-sm-6">
      {{ content.row1_first }}
    </div>
    <div class="col-xs-12 col-sm-6">
      {{ content.row1_second }}
    </div>
  </div>

  <div class="row-2">
    {{ content.row2 }}
  </div>

  <div class="row row-3">
    <div class="col-xs-12 col-sm-6">
      {{ content.row3_first }}
    </div>
    <div class="col-xs-12 col-sm-6">
      {{ content.row3_second }}
    </div>
  </div>
</div>