<div class="identity-form-container">
    <form method="post" {{ attributes }}>
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        {{ form.job_id }}
        <div class="form-email">
            {{ form.mail }}
        </div>
        <div class="form-confirm">
            {{ form.actions.submit }}
        </div>
    </form>
    {{ social_login }}
    <div class="signin-link-wrapper">
        <label>Already have an account?</label>
        <a href="{{ signin_link }}">
            <div class="signin-link">
                Sign In
            </div>
        </a>
    </div>
</div>