{#
/**
 * @file
 * Default theme implementation to display a multi file form widget.
 *
 * Available variables:
 * - table: Table of previously uploaded files.
 * - element: The form element for uploading another file.
 *
 * @see template_preprocess_file_widget_multiple()
 *
 * @ingroup themeable
 */
#}

<div class="control-label">{{ element['#title'] }}</div>
<div class="help-text">{{ element['#description'] }}</div>
{% if items %}
  {% for item in items %}
    <div data-key="{{ item.key }}" class="image-item">
      {% if item.download_link is defined %}
        <div class="resume">
        {{ item.download_link|raw }}
        </div>
      {% else %}
      <div class="image-preview bg-photo" style="background-image: url({{ file_url(item.preview) }})"></div>
      <div class="image-meta">
        {{ item.description }}
        {{ item.operations }}
      </div>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
<div class="file-element" {{ attributes|without('id', 'class', 'data-drupal-selector', 'open') }}>{{ element }}</div>
