<div id="job-application-owner">
  <div class="content-top">
    <div class="row">
      <div class="col-xs-4">
        <img src="{{ app.profile_photo }}"/>
      </div>
      <div class="col-xs-8">
        <span class="name">{{ app.name }}</span>
        {% if app.jobId %}
          <span class="match hidden-xs"> - {{ app.match }}% MATCH</span><br/>
        {% endif %}
        <div class="location">{{ app.location }}</div>
        <p class=" description hidden-xs">{{ app.description|raw }}</p>
        {% if app.jobId %}
          <div class="hidden-xs buttons">
            <a class="message" href="/messages?job_id={{ app.jobId }}&app_id={{ app.appId }}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Message</a>
            <a class="favorite" href="/ajax/job-posting/{{ app.jobId }}/{{ app.appId }}/{{ app.user }}/favorite">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              {% if app.status == "favorite" %}
                Unfavorite
              {% else %}
                Favorite
              {% endif %}
            </a>
            <a class="decline" href="/ajax/job-posting/{{ app.jobId }}/{{ app.appId }}/{{ app.user }}/declined">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              {% if app.status == "declined" %}
                Undecline
              {% else %}
                Decline
              {% endif %}
            </a>
          </div>
        {% endif %}
      </div>
      {% if app.jobId %}
        <div class="xs-message col-xs-2 hidden-sm hidden-md hidden-lg">
          <a class="message" href="/messages?job_id={{ app.jobId }}&app_id={{ app.appId }}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
        </div>
        <div class="xs-info col-xs-12 hidden-sm hidden-md hidden-lg">
            <span class="match">{{ app.match }}% MATCH</span>
            <p class="description">{{ app.description }}</p>
        </div>
        <div class="xs-buttons hidden-sm hidden-md hidden-lg col-xs-12">
          <a class="favorite" href="/ajax/job-posting/{{ app.jobId }}/{{ app.appId }}/{{ app.user }}/favorite">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% if app.status == "favorite" %}
              Unfavorite
            {% else %}
              Favorite
            {% endif %}
          </a>
          <a class="decline" href="/ajax/job-posting/{{ app.jobId }}/{{ app.appId }}/{{ app.user }}/declined">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% if app.status == "declined" %}
              Undecline
            {% else %}
              Decline
            {% endif %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="content-body-left col-xs-12 col-sm-3 col-sm-offset-1">
      {{ app.hard_skills }}
      {{ app.soft_skills }}

      {% if app.resume %}
        <div class="resume">
          <a href="{{ app.resume }}" download><span>Download Resumé  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></span></a>
        </div>
      {% endif %}
    </div>
    <div class="content-body-right col-xs-12 col-sm-7">
      {{ app.required_certifications }}
      {{ app.certifications }}
      {{ app.photos }}
    </div>
  </div>
</div>
