<div class="job-apply-complete-wrapper">
    <div class="job-apply-complete-title">
        <h2>Application Received!</h2>
    </div>
    <div class="job-apply-complete-body">
        {% if profile_complete == true %}
            <p>Now visit the My Jobs dashboard to track all of your recent applications.</p>
        {% else %}
            <p>Now head to your profile to finish filling out your information - it will help you look more qualified to employers.</p>
        {% endif %}
        <a href="{{ cta.url }}" class="btn btn-primary">{{ cta.link_text }}</a>
    </div>
</div>