{#
/**
 * @file
 * Job Application job block.
 */
#}
<div class="custom-job-apply-block">
    <div class="container content-wrapper job-application-header">
        {% for entity in job_entities %}
            <div class="job-wrapper job-transparent">
                <div class="col-md-6 first-column apply">
                    <div class="job-title apply">
                        {{ entity.title }}
                    </div>
                    <div class="job-company apply">
                        {{ entity.company_name }}
                    </div>
                    <div class="job-address apply">
                        {{ entity.address }}
                    </div>
                </div>
                <div class="col-md-4 second-column apply">
                    <div class="job-created apply">
                        {{ entity.created }}
                    </div>
                </div>
                <div class="col-md-3 third-column apply">
                    <div class="job-applicants-count apply">
                        <a class="apply" href="{{ entity.job_url }}">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

