{#
/**
 * @file
 * Job Application list header block.
 */
#}

<div class="custom-job-application-list-block">
    <div class="content-wrapper job-application-list-header">
      <div class="list-breadcrumb">
        <a href="{{ header.myJobs }}">My Job Posts</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
       <strong>{{ header.title }}</strong>
      </div>
      <div class="filter-toggle">
        FILTER
        <span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </div>
      <div class="header-filter-wrapper no-filter row">
        {% if header.filters %}

          <div class="col-xs-12 col-sm-6 certifications">
            <h4>Certifications</h4>

            {% for filter in header.filters['certifications'] %}
              <div class="header-filter col-xs-12 col-sm-5 {% if filter['active'] == true %} active-filter {% endif %}"
                data-filter-id="{{ filter['id'] }}"
                data-filter-name="{{ filter['filter_name'] }}"
                data-vocabulary="{{ filter['vocabulary'] }}">
                  <span>
                    {{ filter['name'] }}
                  </span>
              </div>
            {% endfor %}

          </div>

          <div class="col-xs-12 col-sm-6 skills">
            <h4>Skills</h4>

            {% for filter in header.filters['skills'] %}
              <div class="header-filter col-xs-12 col-sm-5 {% if filter['active'] == true %} active-filter {% endif %}"
                data-filter-id="{{ filter['id'] }}"
                data-filter-name="{{ filter['filter_name'] }}"
                data-vocabulary="{{ filter['vocabulary'] }}">
                  <span>
                    {{ filter['name'] }}
                  </span>
              </div>
            {% endfor %}

          </div>
        {% else %}
          <span class="no-filter">No certifications to filter</span>
        {% endif %}
      </div>

    </div>
</div>

<nav class="tabs" role="navigation" aria-label="Tabs">
  <ul class="tabs--primary nav nav-tabs">
    {% for tab in header.tabs %}
      <li class="{{ tab.type }} {{ tab.active }}"><a class="{{ tab.active }}" href='{{ tab.link }}'>{{ tab.text }}</a></li>
    {% endfor %}
  </ul>
</nav>
