<div class="content-filters row">
  <div class="col-sm-8 sort">
    <span
      data-sort-order="{% if filters.sort_by == 'field_applicant_score_value' and filters.sort_order == 'DESC' %}ASC{% else %}DESC{% endif %}"
      data-sort-by="field_applicant_score_value"
      class="sort-filter best-match button-orange-border {% if filters.sort_by == 'field_applicant_score_value' %} active-sort{% endif %}">
        Best Match
    </span>
    <span
      data-sort-order="{% if filters.sort_by == 'created' and filters.sort_order == 'DESC' %}ASC{% else %}DESC{% endif %}"
      data-sort-by="created"
      class="sort-filter newest button-orange-border {% if filters.sort_by == 'created' %} active-sort {% endif %}">
        Newest
    </span>
  </div>
  <div class="col-sm-4">
    <div class="input-group">
      <div class="form-item">
        <input class="search-filter" value="{{ filters.combine }}" type="text"/>
      </div>
      <span class="input-group-btn">
        <button class="btn btn-primary form-submit search-submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
      </span>
    </div>
  </div>
</div>
