<div class="profile-form-container">
    <form method="post" {{ attributes }}>
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form.field_profile_photo.widget }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {#{{ form.field_location.widget }}#}
                {{ form.field_profile_description‎.widget }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form.field_hard_skills.widget }}
                {{ form.field_soft_skills.widget }}
                {{ form.field_resume.widget }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form.field_certifications.widget }}
                {{ form.field_profile_photos_and_videos.widget }}
            </div>
        </div>
    </form>
    {{ form.field_profile_photo }}
</div>
