
<div class="hidden-xs custom-job-application-list-block row">
    <div class="content-wrapper job-application-list-header">
      <div class="col-sm-10 list-breadcrumb">
        <a href="{{ header.myJobs }}">My Job Posts</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <a href="{{ header.url }}">{{ header.jobTitle }}</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <span>{{ header.name }}</span>
      </div>
    </div>
</div>
