{% if page.type == 'company' %}
  {{ drupal_view('notifications', 'notifications_page') }}
{% else %}
  <div class="row seek-job-view watched-jobs">
      <h4>Add New Email Alert <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="By adding an email alert, you will receive an email when new jobs are posted in your area."></span></h4>
      <form method="post" {{ attributes }}>
          {{ page.form.form_build_id }}
          {{ page.form.form_token }}
          {{ page.form.form_id }}
          <div class="row row-search-form">
              <div class="title-input-sfs col-sm-12 col-md-3">
                  {{ page.form.field_job_title.widget }}
              </div>
              <div class="location-input-sfs col-sm-12 col-md-3">
                  {{ page.form.field_job_location.widget }}
              </div>
              <div class="range-input-sfs col-sm-12 col-md-3">
                  <span>search within</span>
                  {{ page.form.field_range.widget }}
              </div>
              <div class="submit-input-sfs col-sm-12 col-md-3">
                  {{ page.form.actions }}
              </div>
          </div>
      </form>
  </div>
  <div class="seek-job-view saved-searches-view">
    {{ drupal_view('searches_results', 'page_1') }}
  </div>
{% endif %}
