{#
/**
 * @file
 * My Jobs Seeker Header.
 */
#}
{% if header.tabs %}

    <div class="card card-header card-transparent">
        <div class="card-section card-title card-flex-push">
            <div class="inner">
                <div class="card-title-header">
                    <a href="{{ path('<front>') }}">Home</a>
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    <strong>My Jobs</strong>
                </div>
            </div>
        </div>
        <div class="card-section card-cta">
            <a class="card-cta-btn card-cta-btn-small btn btn-white-orange" href="/post-job">Post New Job</a>
            {% if not header.restricted %}
                <a class="card-cta-btn card-cta-btn-small btn btn-white-orange" href="{{ path('restorationjobs_applicants.notifications') }}">Manage Notifications</a>
            {% endif %}
        </div>
    </div>
    <nav class="tabs" role="navigation" aria-label="Tabs">
        <ul class="tabs--primary nav nav-tabs">
            {% for tab in header.tabs %}
                <li class="{{ tab.type }} {{ tab.active }}"><a class="{{ tab.active }}" href='{{ tab.link }}'>{{ tab.text }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% else %}
    <div class="my-jobs-seeker-header">
        <div class="content-wrapper my-jobs-wrapper">
            <div>
                <h2>Search Jobs</h2>
                <form method="post" id="find-a-job">
                    {{ header.form.form_build_id }}
                    {{ header.form.form_token }}
                    {{ header.form.form_id }}
                    <div class="row row-search-form">
                        <div class="title-input-sfs col-sm-12 col-md-3">
                            {{ header.form.title }}
                        </div>
                        <div class="location-input-sfs col-sm-12 col-md-3">
                        {{ header.form.location }}
                        </div>
                        <div class="submit-input-sfs col-sm-12 col-md-2">
                          {{ header.form.submit }}
                          {{ header.form['submit-mobile'] }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
