<p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, &#39;helvetica neue&#39;, helvetica, sans-serif;line-height:21px;color:#FFFFFF;">A new job posting has been created related to one of your recent search areas and requires your listed skills. Click below to view details!</p>
<p style="Margin:30px 0 0 0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:24px;font-family:arial, &#39;helvetica neue&#39;, helvetica, sans-serif;line-height:36px;color:#FFFFFF;">
  <strong>{{ email.job.title }}</strong><br/>
</p>
<span style="color:white; font-size: 14px">{{ email.job.company }}</span><br/>
<span style="color:white; font-size: 14px">{{ email.job.location['locality'] }}, {{ email.job.location['administrative_area'] }}</span>
<a href="{{ email.job.url }}" style="text-decoration:none; Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial;line-height:21px;font-size:12px;color:#FFFFFF;">
  <strong>VIEW JOB POST</strong>
</a>
<p style="Margin:45px 0 0 0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, &#39;helvetica neue&#39;, helvetica, sans-serif;line-height:21px;color:#999999;">This message was sent by Restoration Jobs, click <a style="color:#999999;" href="{{ email.notificationsUrl }}">here</a> to manage your email notifications.</p>
