{% if photos %}
  <div class="photos-wrapper">
    <div class="title-wrapper">
      <span class="title">{% trans %}Photos{% endtrans %}</span>
    </div>
    <div class="list row">
      {% for photo in photos %}
        <div class="img-wrapper col-xs-12 col-md-4">
          <a href="{{ photo.original }}" download>
            <img src="{{ photo.url }}"/>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
