{#
/**
 * @file saved_searches.html.twig
 * Default theme implementation to present Saved searches data.
 *
 * This template is used when viewing Saved searches pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_saved_searches()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('saved_searches') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
