<div class="seeker-job-form">
    <div class="container">
        <form method="post" {{ attributes }}>
            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}
            <div class="row row-search-form">
                <div class="title-input-sfs col-sm-12 col-md-3">
                    {{ form.title }}
                </div>
                <div class="location-input-sfs col-sm-12 col-md-3">
                    {{ form.location }}
                </div>
                <div class="checkbox-input-sfs col-sm-12 col-md-3">
                    {{ form.save_results }}
                </div>
                <div class="submit-input-sfs col-sm-12 col-md-3">
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container content-wrapper search-result-wrapper">
    {% for entity in job_entities %}
        <div class="job-wrapper {{ entity.user_has_applied ? 'job-gray' : '' }}">
            <div class="col-md-6 first-column">
                <div class="job-title">
                    {{ entity.title }}
                </div>
                <div class="job-company">
                    {{ entity.company }}
                </div>
                <div class="job-address">
                    {{ entity.address }}
                </div>
            </div>
            <div class="col-md-4 second-column">
                <div class="job-created">
                    {{ entity.created }}
                </div>
            </div>
            {% if entity.user_has_applied == TRUE %}
                <div class="col-md-3 third-column">
                    <div class="job-applicants-count">
                        applied
                    </div>
                </div>
            {% else %}
                <div class="col-md-3 third-column external-apply">
                    <div class="job-applicants-count ">
                        external apply
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
