<div class="container content-wrapper">
    <div class="row seek-job-view promoted-search-view">
        {% if recent_searches|length > 0 %}
            <h4>Recent Searches</h4>
        {% endif %}
        {% for entity in recent_searches %}

            <div class="card card-job card-default">
                <div class="card-section card-title card-flex-push">
                    <div class="inner">
                        {% if entity.title != '' %}
                            <div class="card-title-header">
                                {{ entity.title }}
                            </div>
                            <div class="card-title-subheader">
                                {{ entity.location }}
                            </div>
                        {% else %}
                            <div class="card-title-header">
                                {{ entity.location }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-section card-cta">
                    <a href="{{ entity.url }}" title="See Jobs" class="card-cta-btn card-cta-btn-default">
                        SEE JOBS
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class=" row seek-job-view watched-jobs">
      <h4>Add New Email Alert <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="By adding an email alert, you will receive an email when new jobs are posted in your area."></span></h4>
        <form method="post" {{ attributes }}>
            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}
            <div class="row row-search-form">
                <div class="title-input-sfs col-sm-12 col-md-3">
                    {{ form.field_job_title.widget }}
                </div>
                <div class="location-input-sfs col-sm-12 col-md-3">
                   {{ form.field_job_location.widget }}
                </div>
                <div class="range-input-sfs col-sm-12 col-md-3">
                    <span>search within</span>
                    {{ form.field_range.widget }}
                </div>
                <div class="submit-input-sfs col-sm-12 col-md-3">
                    {{ form.actions }}
                </div>
            </div>
        </form>
    </div>
    <div class="seek-job-view saved-searches-view">
        {{ drupal_view('searches_results', 'block_2') }}
    </div>
    <div class="seek-job-view recently-viewed-jobs row">
        {% if recently_viewed|length > 2 %}
            <h4>Recently Viewed</h4>
            {% for entity in recently_viewed %}
                {% if entity['#view_mode'] == 'recently_viewed' %}
                    {{ entity }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="seek-job-view row recently-applied-view">
        {{ drupal_view('seeker_job_dashboard','block_1') }}
    </div>
</div>
