{% if skills %}
  <div class="skills-wrapper">
    <div class="title-wrapper clearfix">
      <span class="title">{{ skills.title }}</span>
        <span class="count">{{ skills.count.matching }}/{{ skills.count.total }}</span>
    </div>
    <div class="list">
      <ul>
        {% for skill in skills.list %}
          <li class="{{ skill.match ? 'match' : '' }}">
            <span class="index">{{ loop.index }}</span>
            <span class="skill-name">{{ skill.title }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
