{% if skills %}
  <div class="skills-wrapper certifications">
    <div class="title-wrapper clearfix">
      <span class="title">{{ skills.title }}</span>
        <span class="count">{{ skills.count.matching }}/{{ skills.count.total }}</span>
    </div>
    <div class="list row">
      {% for skill in skills.list %}
        <div class="col-xs-12 col-sm-4 {{ skill.match ? 'match' : '' }}">
          <a href="{{ skill.original }}" download>
            <img src="{{ skill.large }}">
            <span class="skill-name">{{ skill.title }}</span>
          </a>

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
