.field--widget-rj-inline-entity-form {
  .panel {
    .panel {
      margin: 0;
      .panel-heading {
        display: none;
      }
    }
    .ief-entity-table {
      display: block;
      &:after {
        content: "";
        display: table;
        clear: both;
        zoom: 1;
      }
      thead {
        display: none;
      }
      tbody {
        display: block;
      }
      tr {
        background: #474542;
        display: block;
        margin-bottom: 5px;
        position: relative;
        padding: 0 25px 0 35px;
        float: left;
        clear: both;
        font-size: 10px;
        counter-increment: inst;
        .ief-tabledrag-handle {
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          a {
            height: 100%;
            width: 100%;
          }
          .icon {
            display: none;
          }
        }
        &:before {
          content: counter(inst);
          position: absolute;
          left: 0;
          background: orange;
          width: 25px;
          text-align: center;
          height: 25px;
          line-height: 25px;
          top: 0;
        }
        td {
          border: none;
          display: inline-flex;
          align-items: center;
          height: 25px;
          padding: 0;
          text-transform: uppercase;
          .form-type-select,
          .tabledrag-changed {
            display: none;
          }
          .tabledrag-handle {
            margin: 0;
            font-size: 12px;
          }
          .ief-entity-operations {
            position: absolute;
            right: 0;
            margin: 0;
            .form-submit {
              background: none;
              border: none;
              padding: 0;
              overflow: hidden;
              width: 25px;
              position: relative;
              color: #fff;
              line-height: 22px;
              height: 25px;
              font-size: 14px;
              &[value="Edit"] {
                display: none;
              }
              &:hover {
                border: none;
              }
              .icon {
                position: absolute;
                left: 9px;
                top: 8px;
                text-indent: 0;
                margin: 0;
                font-size: 10px;
              }
              &:disabled {
                text-indent: -1000px;
              }
            }
          }
        }
      }
    }
  }
  .tabledrag-toggle-weight {
    display: none;
  }
  .ief-entity-table {
    .ief-row-form,
    .ief-form {
      display: none !important;
    }
  }
  .table-responsive {
    border: none;
  }
}