{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="col-sm-6 col-md-7 title-wrapper">
  {{ fields['field_job_title'].content }}<br/>
  {{ fields['field_location'].content }}
</div>

<div class="col-sm-6 col-md-5 control-wrapper">
  <div class="row">
    <div class="col-xs-6">
      <span>NEW APPLICANTS</span><br/>
      <div class="control">
        <div class="switch-wrapper {{ fields['field_notifications_applicants'].content|striptags|trim }}">
          <span class="off">Off</span>
          <label class="rj-switch">
            <input data-jobId="{{ fields['id'].content|striptags|trim }}" data-type="field_notifications_applicants" {{ fields['field_notifications_applicants'].content|striptags|trim }} type="checkbox">
            <span class="rj-slider round"></span>
          </label>
          <span class="on">On</span>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <span>NEW MESSAGES</span><br/>
      <div class="control">
        <div class="switch-wrapper {{ fields['field_notifications_messages'].content|striptags|trim }}">
          <span class="off">Off</span>
          <label class="rj-switch">
            <input data-type="field_notifications_messages" data-jobId="{{ fields['id'].content|striptags|trim }}" {{ fields['field_notifications_messages'].content|striptags|trim }} type="checkbox">
            <span class="rj-slider round"></span>
          </label>
          <span class="on">On</span>
        </div>
      </div>
    </div>
  </div>
</div>
